<section class="place">
  <img src="../../../resources/images/placedetail/logo.png" alt="" class="place-logo">
  <div class="place__container">
    Fraser Place represents vibrant cosmopolitan living with its chic and
    stylish décor. Each property in the energetic heart of the city, often
    moments from key business district.
    <div class="place__hide">
      Fraser Place represents vibrant cosmopolitan living with its chic and
      stylish décor. Each property in the energetic heart of the city, often
      moments from key business district.
    </div>
    <a href="#" class="place__readtext">READ MORE</a>
  </div>
</section>
<section class="place-slider lg-devices">
  <div class="place-slider__container">
    <div class="swiper-container placeswiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel1.png" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__right">
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel2.png" />
            </div>
            <div class="swiper-slide__desc">
              <h3>Lifestyle facilities</h3>
              <p>
                The diverse range of lifestyle facilities offer our guests a
                space to unwind after a hard day of work, some of which includes
                a 24/7 Gym and Billiard room.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel1.png" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__right">
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel2.png" />
            </div>
            <div class="swiper-slide__desc">
              <h3>Lifestyle facilities</h3>
              <p>
                The diverse range of lifestyle facilities offer our guests a
                space to unwind after a hard day of work, some of which includes
                a 24/7 Gym and Billiard room.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel1.png" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__right">
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel2.png" />
            </div>
            <div class="swiper-slide__desc">
              <h3>Lifestyle facilities</h3>
              <p>
                The diverse range of lifestyle facilities offer our guests a
                space to unwind after a hard day of work, some of which includes
                a 24/7 Gym and Billiard room.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
<!-- For Mobile Devices -->
<section class="place-slider sm-devices">
  <div class="place-slider__container">
    <div class="swiper-container placeswiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel1.png" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel2.png" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel1.png" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel2.png" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel1.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
