<section class="account-profile">
    <h2>ACCOUNT</h2>
    <div class="account-profile__container">
        <div class="account-profile__container__row1">
            <div class="account-profile__profile-picture">
                <div class="account-profile__profile-picture__profile-image">
                    <img src="../../../resources/images/roomdetail/RoomType3.png" alt="">
                </div>
                <div class="account-profile__profile-picture__profile-image-edit">
                    <img src="../../../resources/images/roomdetail/RoomType3.png" alt="">
                </div>
            </div>
            <div class="account-profile__userdetail">
                <h3>JOHN SMITH</h3>
                <p>Membership Number</p>
                <p class="memebership-number">8800000046170</p>
                <p>Member Since</p>
                <p class="memeber-since">6/21/2021</p>
            </div>
            <div class="account-profile__usercard">
                <div class="account-profile__usercard__image">
                    <img src="../../../resources/images/roomdetail/RoomType3.png" alt="">
                </div>
            </div>
            <div class="account-profile__userpoints">
                <div class="account-profile__userpoints__row1">
                    <p>Current Points</p>
                    <div class="account-profile__userpoints__row1__points">
                        <div>
                            <div class="current-points">23,690</div>
                        </div>
                        <div>
                            <button>REDEEM</button>
                        </div>
                    </div>
                </div>
                <div class="account-profile__userpoints__row2">
                    <div class="account-profile__userpoints__row2__exipiring">
                        <p>Points Expiring</p>
                        <p>In this noon</p>
                        <p class="exipiring-noon-points">3,807</p>
                    </div>
                    <div>
                        <p>Points Expiring</p>
                        <p>Within 3 months</p>
                        <p class="exipiring-month-points">4,800</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-profile__container__row2">
            <div class="account-profile__collected-points">
                <p class="qualification">Sapphire</p>
                <p class="qualification-points">50</p>
                <p>Points required</p>
                <p>By 30 Jul 2022</p>
            </div>
            <div class="account-profile__qualification-details">
                <h3>Sapphire Tier Qualification</h3>
                <p>Reach Sapphire tier with 50 more qualifying points or 15 more qualifying nights.</p>
            </div>
        </div>
    </div>
</section>