<div class="capribrand_feature">
  <div class="capribrand_feature_container">
    <div class="capribrand_feature_container_left">
      <div class="capribrand_feature_container_left_container">

        <div class="capribrand_feature_container_left_logo">
          <img src="../../../resources/images/capriBrand/Caprlogo.png" alt="" />
        </div>
        <div class="capribrand_feature_container_left_discription">
          <div>
            <p>
              Each Capri by Fraser hotel residences encapsulate
              <span class="underline">#SocialLiving</span> and is the
              springboard for experiential travellers who revel in vibrant
              social spaces.
            </p>
          </div>
        </div>
        <div class="capribrand_feature_container_left_readMore">
          <p><span class="underline"> Read more </span></p>
        </div>
      </div>
    </div>
    <div class="capribrand_feature_container_right">
      <div class="capribrand_feature_container_right_carousel">
        <div class="swiper-container swiper-capribrand">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="capribrand_feature_container_right_content"
                id="first"
              >
                <div class="capribrand_feature_container_right_image">
                  <img
                    src="../../../resources/images/capriBrand/Capture5.png"
                    alt=""
                  />
                </div>
                <div class="capribrand_feature_container_right_lineVertical">
                  <div class="line"></div>
                </div>
                <div class="capribrand_feature_container_right_header">
                  <h3>#TheDen</h3>
                </div>
                <div class="capribrand_feature_container_right_discription">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    doincididuntut labore et dolore magna Lorem ipsum dolor sit
                    amet.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="capribrand_feature_container_right_content"
                id="first"
              >
                <div class="capribrand_feature_container_right_image">
                  <img
                    src="../../../resources/images/article_highlights/Omoide Yokocho - kenn-reynon-EOTRfWbIhiE-unsplash.png"
                    alt=""
                  />
                </div>
                <div class="capribrand_feature_container_right_lineVertical">
                  <div class="line"></div>
                </div>
                <div class="capribrand_feature_container_right_header">
                  <h3>#TheFixer</h3>
                </div>
                <div class="capribrand_feature_container_right_discription">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    doincididuntut labore et dolore magna Lorem ipsum dolor sit
                    amet.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="capribrand_feature_container_right_content"
                id="first"
              >
                <div class="capribrand_feature_container_right_image">
                  <img
                    src="../../../resources/images/article_highlights/oriento-MCN7xTTeAkw-unsplash.png"
                    alt=""
                  />
                </div>
                <div class="capribrand_feature_container_right_lineVertical">
                  <div class="line"></div>
                </div>
                <div class="capribrand_feature_container_right_header">
                  <h3>#TheFixer</h3>
                </div>
                <div class="capribrand_feature_container_right_discription">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    doincididuntut labore et dolore magna Lorem ipsum dolor sit
                    amet.
                  </p>
                </div>
              </div>
              +
            </div>
            <div class="swiper-slide">
              <div
                class="capribrand_feature_container_right_content"
                id="first"
              >
                <div class="capribrand_feature_container_right_image">
                  <img
                    src="../../../resources/images/article_highlights/Omoide Yokocho - kenn-reynon-EOTRfWbIhiE-unsplash.png"
                    alt=""
                  />
                </div>
                <div class="capribrand_feature_container_right_lineVertical">
                  <div class="line"></div>
                </div>
                <div class="capribrand_feature_container_right_header">
                  <h3>#TheFixer</h3>
                </div>
                <div class="capribrand_feature_container_right_discription">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    doincididuntut labore et dolore magna Lorem ipsum dolor sit
                    amet.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="capribrand_feature_container_right_content"
                id="first"
              >
                <div class="capribrand_feature_container_right_image">
                  <img
                    src="../../../resources/images/article_highlights/Omoide Yokocho - kenn-reynon-EOTRfWbIhiE-unsplash.png"
                    alt=""
                  />
                </div>
                <div class="capribrand_feature_container_right_lineVertical">
                  <div class="line"></div>
                </div>
                <div class="capribrand_feature_container_right_header">
                  <h3>#TheFixer</h3>
                </div>
                <div class="capribrand_feature_container_right_discription">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    doincididuntut labore et dolore magna Lorem ipsum dolor sit
                    amet.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</div>
