<div class="breadcrumb">
    <div class="template-container">
        <nav class="cmp-breadcrumb">
            <ol class="cmp-breadcrumb__list">
                <li class="cmp-breadcrumb__item">
                    <a href="#" class="cmp-breadcrumb__item-link">
                        <span>Home</span>
                    </a>
                    <meta itemprop="position" content="1">
                </li>
                <li class="cmp-breadcrumb__item">
                    <a href="#" class="cmp-breadcrumb__item-link">
                        <span>Our Brands</span>
                    </a>
                    <meta itemprop="position" content="2">
                </li>
                <li class="cmp-breadcrumb__item cmp-breadcrumb__item--active">
                    <span>Frasers Hospitality</span>
                </li>
            </ol>
        </nav>
    </div>
</div>
