<section class="fr-global-footprint bg-grey">
    <div class="template-container fr-global-footprint-header-container">
        <div class="fr-global-footprint-header">
                <div class="column fr-global-footprint-header">
                    <h2>OUR GLOBAL FOOTPRINT</h2>
                    <p class="fr-global-footprint-veiwmore">
                        <a href="#">VIEW ALL LOCATIONS</a>
                    </p>
            </div>
        </div>
    </div>
    <div class="swiper-container fr-global-footprint__carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide">                
               <a href="#">
                <div
                        class="fr-global-footprint__item"
                        style="background-image: url(../../../resources/images/global-footprint/london.png);"
                >
                <div class="grad-overlay"></div>
                    <div class="fr-global-footprint__location">
                        <p class="country-city">London, UK</p>
                        <p class="properties-no">2 Properties</p>
                        <div class="fr-global-footprint__property-list">
                            <p>
                                <a href="#">Fraser Suites Le Claridge Champs-Elysées, Paris</a>
                            </p>
                            <p><a href="#">Fraser Suites Harmonie, Paris La Defense</a></p>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                <div
                        class="fr-global-footprint__item"
                        style="
            background-image: url(../../../resources/images/global-footprint/mount.png);
          "
                >
                <div class="grad-overlay"></div>
                    <div class="fr-global-footprint__location">
                        <p class="country-city">Mountain View</p>
                        <p class="properties-no">2 Properties</p>
                        <div class="fr-global-footprint__property-list">
                            <p>
                                <a href="#">Fraser Suites Le Claridge Champs-Elysées, Paris</a>
                            </p>
                            <p><a href="#">Fraser Suites Harmonie, Paris La Defense</a></p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                <div
                        class="fr-global-footprint__item"
                        style="
            background-image: url(../../../resources/images/global-footprint/paris.png);
          "
                >
                <div class="grad-overlay"></div>
                    <div class="fr-global-footprint__location">
                        <p class="country-city">Paris, France</p>
                        <p class="properties-no">2 Properties</p>
                        <div class="fr-global-footprint__property-list">
                            <p>
                                <a href="#">Fraser Suites Le Claridge Champs-Elysées, Paris</a>
                            </p>
                            <p><a href="#">Fraser Suites Harmonie, Paris La Defense</a></p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="swiper-slide"> 
                <a href="#">
                <div
                        class="fr-global-footprint__item"
                        style="
            background-image: url(../../../resources/images/global-footprint/shanghai.png);
          "
                >
                <div class="grad-overlay"></div>
                    <div class="fr-global-footprint__location">
                        <p class="country-city">Shanghai, Chaina</p>
                        <p class="properties-no">2 Properties</p>
                        <div class="fr-global-footprint__property-list">
                            <p>
                                <a href="#">Fraser Suites Le Claridge Champs-Elysées, Paris</a>
                            </p>
                            <p><a href="#">Fraser Suites Harmonie, Paris La Defense</a></p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="swiper-slide">  
                <a href="#">
                <div
                        class="fr-global-footprint__item"
                        style="
            background-image: url(../../../resources/images/global-footprint/sydney.png);
          "
                >
                <div class="grad-overlay"></div>
                    <div class="fr-global-footprint__location">
                        <p class="country-city">Sydney, Australia</p>
                        <p class="properties-no">2 Properties</p>
                        <div class="fr-global-footprint__property-list">
                            <p>
                                <a href="#">Fraser Suites Le Claridge Champs-Elysées, Paris</a>
                            </p>
                            <p><a href="#">Fraser Suites Harmonie, Paris La Defense</a></p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                <div
                        class="fr-global-footprint__item"
                        style="
            background-image: url(../../../resources/images/global-footprint/sydney.png);
          "
                >
                <div class="grad-overlay"></div>
                    <div class="fr-global-footprint__location">
                        <p class="country-city">Sydney, Australia</p>
                        <p class="properties-no">2 Properties</p>
                        <div class="fr-global-footprint__property-list">
                            <p>
                                <a href="#">Fraser Suites Le Claridge Champs-Elysées, Paris</a>
                            </p>
                            <p><a href="#">Fraser Suites Harmonie, Paris La Defense</a></p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                <div
                        class="fr-global-footprint__item"
                        style="
            background-image: url(../../../resources/images/global-footprint/sydney.png);
          "
                >
                <div class="grad-overlay"></div>
                    <div class="fr-global-footprint__location">
                        <p class="country-city">Sydney, Australia</p>
                        <p class="properties-no">2 Properties</p>
                        <div class="fr-global-footprint__property-list">
                            <p>
                                <a href="#">Fraser Suites Le Claridge Champs-Elysées, Paris</a>
                            </p>
                            <p><a href="#">Fraser Suites Harmonie, Paris La Defense</a></p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                <div
                        class="fr-global-footprint__item"
                        style="
            background-image: url(../../../resources/images/global-footprint/sydney.png);
          "
                >
                <div class="grad-overlay"></div>
                    <div class="fr-global-footprint__location">
                        <p class="country-city">Sydney, Australia</p>
                        <p class="properties-no">2 Properties</p>
                        <div class="fr-global-footprint__property-list">
                            <p>
                                <a href="#">Fraser Suites Le Claridge Champs-Elysées, Paris</a>
                            </p>
                            <p><a href="#">Fraser Suites Harmonie, Paris La Defense</a></p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="swiper-slide"> 
                <a href="#">
                <div
                        class="fr-global-footprint__item"
                        style="
            background-image: url(../../../resources/images/global-footprint/sydney.png);
          "
                >
                <div class="grad-overlay"></div>
                    <div class="fr-global-footprint__location">
                        <p class="country-city">Sydney, Australia</p>
                        <p class="properties-no">2 Properties</p>
                        <div class="fr-global-footprint__property-list">
                            <p>
                                <a href="#">Fraser Suites Le Claridge Champs-Elysées, Paris</a>
                            </p>
                            <p><a href="#">Fraser Suites Harmonie, Paris La Defense</a></p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <!-- <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div> -->
    </div>
</section>
