<a href="#" id="loginNudge" class="loginNudge">Login</a>

<section class="login-nudge">
  <div class="overlay"></div>
  <div class="login-nudge__wrapper">
    <button type="button" id="loginclose" class="login-close">&times;
    </button>
    <div class="login-nudge__left">
      <div class="login-nudge__logo">
        <img src="../../../resources/images/loginnudge/logo.png" alt="">
        <img src="../../../resources/images/loginnudge/logo-2.png" alt="">
      </div>
      <div class="login-nudge__form">
        <form action="">
          <span>LOG IN</span>
          <div class="form-group">
            <input type="email" id="email" class="form-control" placeholder="EMAIL" autocomplete="off">
            <sapn class="email-error error"></span>
          </div>
          <div class="form-group">
            <input type="password" id="loginpass" class="form-control" placeholder="Password" autocomplete="off">
            <span id="viewpass" class="fh-icon-invisible"></span>
          </div>
          <input type="submit" class="btn-primary" value="SIGN UP">
        </form>
        <a href="#">Forgot Your Login?</a>
        <div class="text-line">Or log in with</div>

      </div>
      <div class="signup__button">
        <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i>
          FACEBOOK</a>
        <a href="javascript:void(0);"><i class="fa fa-google" aria-hidden="true"></i>
          GOOGLE</a>
      </div>
    </div>
    <div class="login-nudge__right">
      <img src="../../../resources/images/loginnudge/img.png" alt="">
      <div class="login-nudge__gray-bg">
        <h3>Best Rates Guaranteed When You Sign Up As Our Loyalty Member</h3>
        <div class="login-nudge__para">
          <p> <i class="accordion-check-mark fa fa-check-circle" aria-hidden="true"></i>
            <span class="accordion-text-content">Free stays at participating properties</span>
          </p>
          <p> <i class="accordion-check-mark fa fa-check-circle" aria-hidden="true"></i>
            <span class="accordion-text-content">Up to 20% off Best Flexible Rate</span>
          </p>
          <p> <i class="accordion-check-mark fa fa-check-circle" aria-hidden="true"></i>
            <span class="accordion-text-content">Early Check-Ins</span>
          </p>
          <p> <i class="accordion-check-mark fa fa-check-circle" aria-hidden="true"></i>
            <span class="accordion-text-content">Room Upgrades</span>
          </p>
        </div>
        <div class="login-nudge__joinbtn">
          <a href="#" class="btn-primary">JOIN TODAY</a>
          <a href="#" class="lern-more">Learn More about Fraser World</a>
        </div>
      </div>
    </div>
  </div>
</section>