.loginNudge {
    font-size: 22px;
}

.login-nudge {
    display: none;
    &.active {
        display: block;
        .overlay {
            opacity: 1;
        }
    }
    .login-close {
        position: absolute;
        right: -30px;
        top: -50px;
        background: transparent;
        border: 0;
        font-size: 52px;
        color: #fff;
        cursor: pointer;
    }
    &__wrapper {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        display: flex;
        width: 960px;
        @include breakpoint(ipad-max) {
            width: 85%;
            flex-direction: column;
            top: 55px;
            margin: auto;
            left: 0;
            right: 0;
            transform: inherit;
        }
    }
    &__left {
        padding: 35px 53px;
        width: 45%;
        @include breakpoint(ipad-max) {
            width: 100%;
            padding: 30px 38px;
        }
    }
    &__right {
        width: 55%;
        @include breakpoint(ipad-max) {
            width: 100%;
            margin-top: 40px;
        }
    }
    &__logo {
        @include breakpoint(ipad-max) {
            display: flex;
        }
    }
    &__form {
        margin-top: 30px;
        span {
            font-size: 18px;
            font-family: 'Cormorant_Garamond-Regular';
            display: inline-block;
            margin-bottom: 15px;
        }
        .form-group {
            margin-bottom: 20px;
            position: relative;
            span {
                position: absolute;
                font-size: 14px;
                right: 0;
                top: 5px;
                color: #866D4B;
            }
        }
        input {
            font-size: 14px;
            font-family: 'Roboto-Medium';
            padding: 0;
        }
        a {
            font-family: 'Roboto-Regular';
            font-size: 12px;
            text-align: center;
            text-decoration: underline;
            display: block;
        }
        .btn-primary {
            font: normal 18px/22px "Cormorant_Garamond-Regular";
            color: #fff;
            margin-bottom: 20px;
            border: 0;
            padding: 10px 33px;
            background-color: #8D6C4C;
            margin-top: 30px;
        }
        .text-line {
            margin-top: 20px;
            position: relative;
            text-align: center;
            &::after,
            &::before {
                content: "";
                background-color: #dcdcdc;
                width: 95px;
                height: 2px;
                position: absolute;
                top: 12px;
                right: 14px;
                @include breakpoint(ipad-max) {
                    width: 55px;
                }
            }
            &::before {
                left: 10px;
            }
        }
    }
    .signup__button {
        a {
            margin: 20px 15px 0 0;
            width: 147px;
            @include breakpoint(ipad-max) {
                width: 110px;
                font: normal 14px/21px "Cormorant_Garamond-Regular";
                padding: 10px 7px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .fa {
            margin-right: 10px;
        }
    }
    &__gray-bg {
        background-color: #E3E2DD;
        margin-top: -10px;
        padding-bottom: 40px;
        h3 {
            font: normal 28px/36px "Cormorant_Garamond-Regular";
            padding: 35px 25px;
            text-align: center;
            width: 85%;
            margin: auto;
            border-bottom: 1px solid #000000B2;
            @include breakpoint(ipad-max) {
                font: normal 16px/24px "Cormorant_Garamond-Regular";
                padding: 35px 15px;
            }
        }
    }
    &__para {
        font: normal 11px/16px 'Roboto-Regular';
        padding: 22px 38px 5px;
        p {
            display: inline-block;
            width: 49%;
            @include breakpoint(ipad-max) {
                width: 100%;
            }
            .fa {
                font-size: 15px;
                margin-right: 10px;
            }
        }
    }
    &__joinbtn {
        text-align: center;
        margin-top: 20px;
        a {
            display: inline-block;
            @include breakpoint(ipad-max) {
                width: 40%;
                vertical-align: bottom;
            }
        }
        .btn-primary {
            font: normal 16px/21px "Cormorant_Garamond-Regular";
            color: #8D6C4C;
            border: 1px solid #866D4B;
            padding: 10px 33px;
            background-color: transparent;
            margin-top: 0;
            margin-right: 15px;
            @include breakpoint(ipad-max) {
                padding: 10px 15px;
                font: normal 13px/18px "Cormorant_Garamond-Regular";
            }
        }
        .lern-more {
            border-bottom: 1px solid #866D4B;
            @include breakpoint(ipad-max) {
                text-align: left;
                font: normal 13px/18px "Cormorant_Garamond-Regular";
            }
        }
    }
}


/*.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 1;
}*/