<div id="overlay"></div>
 <nav class="primary-nav" id="primary-nav">
  <div class="template-container no-padding_top no-padding_bottom mobile-view">
    <div class="primary-nav__logo_container">
      <img src="../../../resources/images/brand_logo/fraser_hospitality_logo.png" loading="lazy" />
    </div>
    <div class="primary-nav__list_container ">
      <ul>
        <li><a href="">locations</a></li>
        <li><a href="">offers</a></li>
        <li><a href="">extended stay</a></li>
        <li><a href="">business travel</a></li>
        <li><a href="">our brands</a></li>
        <li><a href=""></a>
          <button id="rates" class="btn-gold  btn button-full-width">
          Check Rates
        </button></a></li>
      </ul>
    </div>
    <div class="primary-nav__hamburger_container">
      <button class="btn full-width" id="hamsBurger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
 
</nav>
<div class="humburger">
  <div class="humburger_close"> 
    <i class="fh-icon-close cancelHumburger" aria-hidden="true"></i>
  </div>
    <div class="first-block">
      <div class="sign-in-up-mobile">
        <a href="javascript:void(0)"> member sign up</a> | <a href="javascript:void(0)">sign in </a>
      </div> 
      <div class="mobile-menus">
        <a href="javascript:void(0)">Locations</a>
        <a href="javascript:void(0)">Offers</a>
        <a href="javascript:void(0)">Extended Stay</a>
        <a href="javascript:void(0)">Business Travel</a>
        <a href="javascript:void(0)">Our Brands</a>
      </div> 
    </div>
  <div class="mobile-other-menus">
    <div class="menu-main-sub">
      <a class="main-menu" href="javascript:void(0)">About us</a>
      <div class="sub-menu">
        <a href="javascript:void(0)">About Us</a>
        <a href="javascript:void(0)">Sustainability</a>
        <a href="javascript:void(0)">Business Development</a>
        <a href="javascript:void(0)">Milestones</a>
        <a href="javascript:void(0)">Careers</a>
        <a href="javascript:void(0)">Newsroom</a>
      </div>
    </div>
    
    <a href="javascript:void(0)">Contact Us</a>
    <a href="javascript:void(0)">Fraser World</a>
    <a href="javascript:void(0)">Fraser Cachet</a>
  </div> 


  <div class="humburger_accordion"> 
    <div class="humburger-row">
      <div class="humburger-wrapper">
        <div class="humburger-wrapper__head">
                Metting & Event Spaces
        </div>
        <div class="humburger-wrapper__body">
          <div class="humburger-wrapper__body__dropdown">
          <ul>
            <li>Locations</li>
            <li>Locations</li>
            <li>Locations</li>
          </ul>
          </div>
        </div>
      </div>

      <div class="humburger-wrapper">
        <div class="humburger-wrapper__head">
              Greeting
        </div>
        <div class="humburger-wrapper__body">
        <div class="humburger-wrapper__body__dropdown">
        <ul>
          <li><a href="#">Location</a>s</li>
          <li><a href="#">Locations</a></li>
          <li><a href="#">Locations</a></li>
        </ul>
        </div>
        </div>
      </div>
    </div>
  </div>

  <section class="global-header">
    <div class="template-container">
      <div class="global-header__container">
        <div class="global-header__container_left">
          <ul class="global-header__container_left--menu-list-container">
            <li class="global-header__container_left--menu-list-container-item">
              <a class="global-header__container_left--menu-list-container-item--link f-12" href="#">
                en <i class="fa fa-angle-down"></i>
              </a>
              <div class="list_dropdown">
                <ul class="list_dropdown--container">
                  <li class="list_dropdown--container-list"><a href="#">English (United Kingdom)</a></li>
                  <li class="list_dropdown--container-list"><a href="#">Hindi (हिन्दी)</a></li>
                  <li class="list_dropdown--container-list"><a href="#">Japanese (日本語)</a></li>
                  <li class="list_dropdown--container-list"><a href="#">English (United Kingdom)</a></li>
                  <li class="list_dropdown--container-list"><a href="#">Hindi (हिन्दी)</a></li>
                  <li class="list_dropdown--container-list"><a href="#">Japanese (日本語)</a></li>
                  <li class="list_dropdown--container-list"><a href="#">English (United Kingdom)</a></li>
                  <li class="list_dropdown--container-list"><a href="#">Hindi (हिन्दी)</a></li>
                  <li class="list_dropdown--container-list"><a href="#">Japanese (日本語)</a></li>
                </ul>
              </div>
            </li>
            <li class="global-header__container_left--menu-list-container-item">
              <a class="global-header__container_left--menu-list-container-item--link f-12" href="#">
                <img src="../../../resources/images/gheader/sgd.png" alt="SGD" loading="lazy" />
                sgd <i class="fa fa-angle-down"></i>
              </a>
              <div class="list_dropdown">
                <ul class="list_dropdown--container">
                  <li class="list_dropdown--container-list">
                    <a href="#">
                      <img src="../../../resources/images/gheader/sgd.png" alt="SGD" loading="lazy" /> 
                      <span>SGD</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="global-header__container_left--menu-list-container-item">
              <a class="global-header__container_left--menu-list-container-item--link" href="#">
                <i class="fa fa-phone"></i>
              </a>
            </li>
            <li class="global-header__container_left--menu-list-container-item">
              <a class="global-header__container_left--menu-list-container-item--link" href="#"><i class="fa fa-envelope"></i></a>
            </li>
            <li class="global-header__container_left--menu-list-container-item">
              <a class="global-header__container_left--menu-list-container-item--link" href="#">my reservations</a>
            </li>
          </ul>
        </div>
        <div class="global-header__container__login">
          <a href="#"> member sign up</a> | <a href=""#>sign in </a>
        </div>
      </div>
    </div>
  </section>

 </div>
