  <div class="template-container">
    <div class="accordion">
        <div id="accordion-78bc3b842e" class="cmp-accordion" data-cmp-data-layer="{&quot;accordion-78bc3b842e&quot;:{&quot;shownItems&quot;:[&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;,&quot;accordion-78bc3b842e-item-273d53765b&quot;,&quot;accordion-78bc3b842e-item-7a1ad04f9b&quot;],&quot;@type&quot;:&quot;core-components-examples/components/accordion&quot;}}" data-placeholder-text="false">
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Australia<span class="cmp-accordion__number">(4)</span>
            </span>
                <span class="cmp-accordion__icon">
                  <i class="fa fa-angle-down downward" aria-hidden="true"></i>
                  <i class="fa fa-angle-up fa-lg upward"></i><br/>
                   </span>
              </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                 <div class="cmp-accordion__list__header cols-3-1-row">
                   <div class="cmp-accordion__list__header__Content1"> 
                     <p>Brisbane</p>
                     <ul >
                       <li> <a href="#">Capri by Fraser, Brisbane/Australia </a></li>
                     </ul>
                   </div>
                   <div class="cmp-accordion__list__header__Content2">
                     <p>Melbourne</p>
                     <ul class="cmp-accordion__list--content">
                       <li> <a href="#">Fraser Place Melbourne</a></li>
                     </ul>
                   </div>
                   <div  class="cmp-accordion__list__header__Content3">
                    <p>Perth</p>
                    <ul class="cmp-accordion__list--content">
                      <li> <a href="#">Fraser Suites Perth </a></li>
                    </ul>
                  </div>
                  <div>
                    <p>Perth</p>
                    <ul class="cmp-accordion__list--content">
                      <li><a href="#">Fraser Suites Perth </a></li>
                    </ul>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Bahrain <span class="cmp-accordion__number">(2)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
          </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                <div class=" cmp-accordion__list__header cols-1-1-row">
                  <div>
                    <p>Manama</p>
                    <ul>
                      <li><a href="#">Fraser Suites Diplomatic Area, Bahrain </a></li>
                      <li><a href="#">Fraser Suites Seef, Bahrain </a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Chaina <span class="cmp-accordion__number">(13)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
              </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                  <div class="cmp-accordion__list__header cols-3-4-rows">
                    <div class="cmp-accordion__list__header__Content1"> 
                      <p>Beijing</p>
                      <ul >
                        <li><a href="#">Modena by Fraser, Beijing </a></li>
                      </ul>
                    </div>
                    <div class="cmp-accordion__list__header__Content2">
                      <p>Changsha</p>
                      <ul class="cmp-accordion__list--content">
                        <li><a href="#">Modena By Fraser, Changsha</a></li>
                      </ul>
                    </div>
                    <div  class="cmp-accordion__list__header__Content3">
                     <p>Dalian</p>
                     <ul class="cmp-accordion__list--content">
                       <li><a href="#">Fraser Suites Dalian </a></li>
                     </ul>
                   </div>
                   <div>
                     <p>Guangzhou</p>
                     <ul class="cmp-accordion__list--content">
                       <li><a href="#">Fraser Suites Guangzhou</a></li>
                     </ul>
                   </div>
                   <div>
                    <p>Nanjing</p>
                    <ul class="cmp-accordion__list--content">
                      <li><a href="#">Modena by Fraser, Nanjing </a></li>
                    </ul>
                  </div>
                  <div>
                    <p>Shanghai</p>
                    <ul class="cmp-accordion__list--content">
                      <li><a href="#">Fraser Suites Top Glory, Shanghai </a></li>
                      <li><a href="#">Modena by Fraser, Putuo Shanghai </a></li>
                    </ul>
                  </div>
                  <div>
                    <p>Shenzhen</p>
                    <ul class="cmp-accordion__list--content">
                      <li><a href="#">Fraser Suites Shenzhen </a></li>
                    </ul>
                  </div>
                  <div>
                    <p>Tianjin</p>
                    <ul class="cmp-accordion__list--content">
                      <li><a href="#">Fraser Place Binhai Tianjin </a></li>
                      <li><a href="#">Fraser Place Tianjin</a></li>
                    </ul>
                  </div>
                  <div>
                    <p>Wuhan</p>
                    <ul class="cmp-accordion__list--content">
                      <li><a href="#">Modena by Fraser, Zhuankou Wuhan</a></li>
                      
                    </ul>
                  </div>
                  <div>
                    <p>Wuxi</p>
                    <ul class="cmp-accordion__list--content">
                      <li><a href="#">Modena by Fraser, Wuxi </a></li>  
                    </ul>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">France <span class="cmp-accordion__number">(2)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
              </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                  <div class=" cmp-accordion__list__header cols-1-1-row">
                    <div>
                      <p>Paris</p>
                      <ul>
                        <li><a href="#">Fraser Suites Harmonie, La Défense, Paris </a></li>
                        <li><a href="#">Fraser Suites Le Claridge, Champs Elysees, Paris </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Germany <span class="cmp-accordion__number">(4)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
              </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                  <div class="cmp-accordion__list__header cols-3-1-row">
                    <div class="cmp-accordion__list__header__Content1"> 
                      <p>Brisbane</p>
                      <ul >
                        <li><a href="#">Capri by Fraser, Brisbane/Australia </a></li>
                      </ul>
                    </div>
                    <div class="cmp-accordion__list__header__Content2">
                      <p>Melbourne</p>
                      <ul class="cmp-accordion__list--content">
                        <li><a href="#">Fraser Place Melbourne </a></li>
                      </ul>
                    </div>
                    <div  class="cmp-accordion__list__header__Content3">
                     <p>Perth</p>
                     <ul class="cmp-accordion__list--content">
                       <li><a href="#">Fraser Suites Perth</a></li>
                     </ul>
                   </div>
                   <div>
                     <p>Perth</p>
                     <ul class="cmp-accordion__list--content">
                       <li><a href="#">Fraser Suites Perth</a></li>
                     </ul>
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Indonesia <span class="cmp-accordion__number">(3)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
          </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                <div class=" cmp-accordion__list__header cols-1-1-row">
                  <div>
                    <p>Jakarta</p>
                    <ul>
                      <li><a href="#">Fraser Residence Sudirman, Jakarta</a></li>
                      <li><a href="#">Fraser Residence Menteng, Jakarta</a></li>
                      <li><a href="#">Fraser Place Setiabudi, Jakarta</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Japan<span class="cmp-accordion__number">(2)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
              </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                  <div class="cmp-accordion__list__header cols-2-1-row">
                    <div class="cmp-accordion__list__header__Content1"> 
                      <p>Osaka</p>
                      <ul >
                        <li><a href="#">Fraser Residence Nankai, Osaka</a></li>
                      </ul>
                    </div>
                    <div class="cmp-accordion__list__header__Content2">
                      <p>Tokyo</p>
                      <ul class="cmp-accordion__list--content">
                        <li><a href="#">Fraser Suites Akasaka, Tokyo</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Malaysia<span class="cmp-accordion__number">(3)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
              </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                  <div class="cmp-accordion__list__header cols-2-1-row">
                    <div class="cmp-accordion__list__header__Content1"> 
                      <p>Johor Bahru</p>
                      <ul >
                        <li><a href="#">Fraser Place Puteri Harbour</a></li>
                        <li><a href="#">Capri by Fraser, Johor Bahru </a></li>
                      </ul>
                    </div>
                    <div class="cmp-accordion__list__header__Content2">
                      <p>Kuala Lumpur</p>
                      <ul class="cmp-accordion__list--content">
                        <li><a href="#">Capri by Fraser, Bukit Bintang*</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Nigeria <span class="cmp-accordion__number">(1)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
          </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                <div class=" cmp-accordion__list__header cols-1-1-row">
                  <div>
                    <p>Abuja</p>
                    <ul>
                      <li><a href="#">Fraser Suites Abuja</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Oman <span class="cmp-accordion__number">(1)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
          </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                <div class=" cmp-accordion__list__header cols-1-1-row">
                  <div>
                    <p>Muscat</p>
                    <ul>
                      <li><a href="#">Fraser Suites Muscat</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Qatar<span class="cmp-accordion__number">(1)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
          </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                <div class=" cmp-accordion__list__header cols-1-1-row">
                  <div>
                    <p>Doha</p>
                    <ul>
                      <li><a href="#">Fraser Suites Doha</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Saudi Arabia  <span class="cmp-accordion__number">(1)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
          </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                <div class=" cmp-accordion__list__header cols-1-1-row">
                  <div>
                    <p>Al Riyadh</p>
                    <ul>
                      <li><a href="#">Fraser Suites Riyadh</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Singapore<span class="cmp-accordion__number">(5)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
          </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                <div class=" cmp-accordion__list__header cols-1-1-row">
                  <div>
                    <p>Singapore</p>
                    <ul>
                      <li><a href="#">Fraser Suites Singapore</a></li>
                      <li><a href="#">Fraser Residence Orchard, Singapore</a></li>
                      <li><a href="#">Fraser Place Robertson Walk</li></a>
                      <li><a href="#">Capri by Fraser, Changi City / Singapore</a></li>
                      <li><a href="#">Capri by Fraser, China Square / Singapore</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Spain<span class="cmp-accordion__number">(1)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
          </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                <div class=" cmp-accordion__list__header cols-1-1-row">
                  <div>
                    <p>Barcelona</p>
                    <ul>
                      <li><a href="#">Capri by Fraser, Barcelona / Spain</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-78bc3b842e-item-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-78bc3b842e-item-0b936d3b6c" data-cmp-expanded="">
            <h3 class="cmp-accordion__header">
              <button id="accordion-78bc3b842e-item-0b936d3b6c-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-78bc3b842e-item-0b936d3b6c-panel" data-cmp-hook-accordion="button">
                <span class="cmp-accordion__title">Switzerland<span class="cmp-accordion__number">(1)</span>
            </span>
            <span class="cmp-accordion__icon">
              <i class="fa fa-angle-down downward" aria-hidden="true"></i>
              <i class="fa fa-angle-up fa-lg upward"></i><br/>
               </span>
          </button>
            </h3>
            <div data-cmp-hook-accordion="panel" id="accordion-78bc3b842e-item-0b936d3b6c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-78bc3b842e-item-0b936d3b6c-button" aria-hidden="false">
              <div class="cmp-accordion__text">
                <div data-cmp-data-layer="{&quot;text-0b936d3b6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-0b936d3b6c" class="cmp-text">
                <div class=" cmp-accordion__list__header cols-1-1-row">
                  <div>
                    <p>Geneva</p>
                    <ul>
                      <li><a href="#">Fraser Suites Geneva</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>