<link rel="stylesheet" href="../../../resources/vendor/css/lightbox.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox-plus-jquery.min.js"></script>

<section class="compact-wrapper cmp-room-detail">
  <div class="compact-wrapper__inner">
    <div class="compact-wrapper__text">
      <h3>Compact and Elegant Deluxe Studio Apartments</h3>
      <p>
        The Deluxe Studio apartments in Sydney are comfortable and practical
        with opening windows to admire the city view. The fully-furnished 27
        sqm studio is equipped with a state-of-the-art home entertainment
        system, microwave and kettle.
      </p>
      <p class="hide-content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, illum
        laudantium architecto, sunt consequuntur quam distinctio, rerum
        repudiandae amet aut expedita tempora facilis fugiat voluptate ex id
        magnam libero excepturi.
      </p>
      <span class="compact-wrapper__readtext">Read More</span>
      <div class="compact-wrapper__four-col">
        <div class="compact-wrapper__four-col__left">
          <p class="title">Occupancy</p>
          <div class="detail">
            <img src="../../../resources/images/roomdetail/occupancy.png" alt="">
            <p> 2</p>
          </div>
        </div>
        <div class="compact-wrapper__four-col__right">
          <p class="title">Apartment floor area</p>
          <div class="detail">
            <img src="../../../resources/images/roomdetail/apartment.png" alt="">
            <p> 27 sqm (297 sq ft)</p>
          </div>
        </div>
      </div>
      <div class="compact-wrapper__four-col compact-wrapper__four-col--bottom">
        <div class="compact-wrapper__four-col__left">
          <p class="title">Bed Type</p>
          <div class="detail">
            <img src="../../../resources/images/roomdetail/bed.png" alt="">
            <p> 1 King Size Bed</p>
          </div>
        </div>
        <div class="compact-wrapper__four-col__right">
          <p class="title">Room View</p>
          <div class="detail">
            <img src="../../../resources/images/roomdetail/room.png" alt="">
            <p> City View</p>
          </div>
        </div>
      </div>
    </div>

    <div class="compact-wrapper__slider">
      
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" href="../../../resources/images/roomdetail/RoomType3.png" data-lightbox="example-set">
              <div class="fullimage">
                <a href="../../../resources/images/roomdetail/RoomType3.png" data-lightbox="example-set">
                <img src="../../../resources/images/roomdetail/fullscreen.png" alt="">
                </a>
              </div>
              <img src="../../../resources/images/roomdetail/RoomType3.png" alt="offer-2" loading="lazy" />
            </div>
            <div class="swiper-slide" href="../../../resources/images/roomdetail/RoomType3.png" data-lightbox="example-set">
              <div class="fullimage">
                <a href="../../../resources/images/roomdetail/RoomType3.png" data-lightbox="example-set">
                <img src="../../../resources/images/roomdetail/fullscreen.png" alt="">
                </a>
              </div>
            <img src="../../../resources/images/roomdetail/RoomType3.png" alt="offer-2" loading="lazy" />
            </div>
            <div class="swiper-slide" href="../../../resources/images/roomdetail/RoomType3.png" data-lightbox="example-set">
              <div class="fullimage">
                <a href="../../../resources/images/roomdetail/RoomType3.png" data-lightbox="example-set">
                <img src="../../../resources/images/roomdetail/fullscreen.png" alt="">
                </a>
              </div>
            <img src="../../../resources/images/roomdetail/RoomType3.png" alt="offer-2" loading="lazy" />
            </div>
        </div>
          <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
<section class="amenities">
  <div class="amenities__container">
    <div class="amenities__text">
      <h3>Amenities</h3>
      <div class="amenities__text__desc">
        <div class="amenities__text__desc__left">
          <strong>In-room amenities</strong>
          <ul>
            <li>
              Fully-furnished with integrated living, bedroom and bathroom
              areas
            </li>
            <li>Complimentary Wi-Fi</li>
            <li>Climate-controlled air conditioning</li>
            <li>Key card access and privacy lock</li>
            <li>Flat Screen TV</li>
            <li>Premium bathroom amenities</li>
            <li>Spacious work desk</li>
            <li>Mini Bar</li>
            <li>Hair dryer</li>
            <li>In-room safe</li>
            <li>Iron and ironing board</li>
          </ul>
        </div>
        <div class="amenities__text__desc__right">
          <strong>Services</strong>
          <ul>
            <li>Daily housekeeping </li>
            <li>24/7 reception and concierge services </li>
            <li>Laundry *</li>
            <li>* Charges apply</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="amenities__images">
      <h3>Floor plan</h3>
      <img src="../../../resources/images/roomdetail/floor-plan.png" alt="offer-2" loading="lazy""
      />
    </div>
  </section>