<div class="text-image-slider-container js-banner-check capri-banner" data-slide-interval="4000">
  
    <div class="text-image-left-col">
       <div class="text-image-slider-content">
        <div class="slideshow-container">

            <div class="text-image-slider fade">
                <div class="text-slide">
                    <div class="line-1 anim-typewriter">#Loremipsum</div>
                </div>
                
            </div>
            
            <div class="text-image-slider fade">
                <div class="text-slide">
                    
                    <div class="line-1 anim-typewriter">#SERIOUSLYSocial</div>
                </div>
            </div>
            
            <div class="text-image-slider fade">
                
              <img src="../../../resources/images/new_banner/Banner_1.png"  alt="">
              
            </div>
            
            </div>
            <div class="text-image-paginator"> 
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
              </div>
        </div>
    </div>
    <div class="text-image-right-col">
        <div class="slideshow-container">

            <div class="imgSlides">
              
                <img src="../../../resources/images/new_banner/Banner_1.png" alt=""  />
               
            </div>
            
            <div class="imgSlides">
              
                <img src="../../../resources/images/new_banner/Banner_2.png" alt=""  />
              
            </div>
            
            <div class="imgSlides">
              
                <img src="../../../resources/images/new_banner/Banner_3.png" alt=""  />
              
            </div>
            
            </div>
        
    </div>
</div>

 