<section class="global-header">
  <div class="template-container">
    <div class="global-header__container">
      <div class="global-header__container_left">
        <ul class="global-header__container_left--menu-list-container">
          <li class="global-header__container_left--menu-list-container-item">
            <a class="global-header__container_left--menu-list-container-item--link f-12" href="#">
              en <i class="fa fa-angle-down"></i>
            </a>
            <div class="list_dropdown">
              <ul class="list_dropdown--container">
                <li class="list_dropdown--container-list"><a href="#">English (United Kingdom)</a></li>
                <li class="list_dropdown--container-list"><a href="#">Hindi (हिन्दी)</a></li>
                <li class="list_dropdown--container-list"><a href="#">Japanese (日本語)</a></li>
                <li class="list_dropdown--container-list"><a href="#">English (United Kingdom)</a></li>
                <li class="list_dropdown--container-list"><a href="#">Hindi (हिन्दी)</a></li>
                <li class="list_dropdown--container-list"><a href="#">Japanese (日本語)</a></li>
                <li class="list_dropdown--container-list"><a href="#">English (United Kingdom)</a></li>
                <li class="list_dropdown--container-list"><a href="#">Hindi (हिन्दी)</a></li>
                <li class="list_dropdown--container-list"><a href="#">Japanese (日本語)</a></li>
              </ul>
            </div>
          </li>
          <li class="global-header__container_left--menu-list-container-item">
            <a class="global-header__container_left--menu-list-container-item--link f-12" href="#">
              <img src="../../../resources/images/gheader/sgd.png" alt="SGD" loading="lazy" />
              sgd <i class="fa fa-angle-down"></i>
            </a>
            <div class="list_dropdown">
              <ul class="list_dropdown--container">
                <li class="list_dropdown--container-list">
                  <a href="#">
                    <img src="../../../resources/images/gheader/sgd.png" alt="SGD" loading="lazy" /> 
                    <span>SGD</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="global-header__container_left--menu-list-container-item">
            <a class="global-header__container_left--menu-list-container-item--link" href="#">
              <i class="fa fa-phone"></i>
            </a>
          </li>
          <li class="global-header__container_left--menu-list-container-item">
            <a class="global-header__container_left--menu-list-container-item--link" href="#"><i class="fa fa-envelope"></i></a>
          </li>
          <li class="global-header__container_left--menu-list-container-item">
            <a class="global-header__container_left--menu-list-container-item--link" href="#">my reservations</a>
          </li>
        </ul>
      </div>
      <div class="global-header__container__login">
        <a href="#"> member sign up</a> | <a href=""#>sign in </a>
      </div>
    </div>
  </div>
</section>