<footer class="footer footer--bg-style-1">
    <div class="template-container back-top-container">
        <button onclick='window.scrollTo({top: 0, behavior: "smooth"});' class="btn footer_back-top-top">back to top <i
                class="fa fa-angle-up"></i></button>
    </div>
    <div class="footer__top">
        <div class="template-container">
            <div class="footer__logos-section">
                <div class="footer__logos-section__left">
                    <a href="#">
                        <img src="../../../resources/images/footer_new/FraserHospitality.png" alt="Frasers Hospitality"
                             loading="lazy">
                    </a>
                </div>
                <ul class="footer__logos-section__right list-unstyled mb-0">
                    <li>
                        <a href="#">
                            <img src="../../../resources/images/footer_new/FraserSuites.png" alt="Frasers Suites"
                                 loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../resources/images/footer_new/FraserResidence.png" alt="Frasers Residence"
                                 loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../resources/images/footer_new/FraserPlace.png" alt="Frasers Place"
                                 loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../resources/images/footer_new/Capri.png" alt="Capri" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../resources/images/footer_new/Modena.png" alt="Modena" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../resources/images/footer_new/Malmaison.png" alt="Malmaison"
                                 loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../resources/images/footer_new/HotelduVin.png" alt="HotelDuVinBistro"
                                 loading="lazy">
                        </a>
                    </li>
                </ul>
            </div> <!-- /.footer__logos-section -->
            <div class="footer__nav-social-row">
                <nav class="footer__navbar">
                    <ul class="footer__navbar__nav list-unstyled">
                        <li>
                            <a href="#">
                                <span>News</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Sustainability</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Investor Relations</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Contact Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Best Rate Guarantee</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Privacy Policy</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Terms of Use</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Site Map</span>
                            </a>
                        </li>
                    </ul>
                </nav> <!-- /.footer__navbar -->
                <ul class="social-share-list list-unstyled mb-0">
                    <li>
                        <a href="#">
                            <i class="fa fa-weixin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../resources/images/footer/instagram-new--v1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul> <!-- /.social-share-list -->
            </div> <!-- /.footer__nav-social-row -->
        </div> <!-- /.container -->
    </div> <!-- /.footer__top -->
    <div class="footer__bottom">
        <div class="template-container">
            <div class="footer__copyright">
                <img src="../../../resources/images/footer/frasers-property-logo.png" alt="Frasers Property"
                     loading="lazy" class="footer__copyright__logo">
                <p>© 2021 Frasers Hospitality Pte Ltd. A member of Frasers Property Group.</p>
            </div>
        </div>
    </div> <!-- /.footer__bottom -->
</footer>