<section class="cmp-side-nav">
  <div class="cmp-side-nav__link prev-link">
    <a
      href="javascript:void(0);"
      class="cmp-side-nav__link__left vertical-label"
      >PREVIOUS OFFER</a
    >
  </div>
  <div class="cmp-side-nav__link next-link">
    <a
      href="javascript:void(0);"
      class="cmp-side-nav__link__right vertical-label"
      >NEXT OFFER</a
    >
  </div>
  <div
    class="cmp-side-nav__left-wrapper hidden-box notification-container-left dismiss-slide-in-lr"
  >
    <div class="cmp-side-nav__left-desc">
      <div class="cmp-side-nav__left-desc__link">
        <a href="javascript:void(0);" class="vertical-label prev-label"
          >PREVIOUS OFFER</a
        >
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="cmp-side-nav__left-desc__img">
        <a href="javascript:void(0);"
          ><img
            src="../../../resources/images/offers/PreviousOffer.png"
            alt=""
          />
          <div class="cmp-side-nav__left-desc__img__desc">
            <h3>STYLISH ESCAPES IN THE UK</h3>
            <label class="btn-label">Enjoy 25% off all properties</label>
          </div></a
        >
      </div>
    </div>
  </div>
  <div
    class="cmp-side-nav__right-wrapper hidden-box notification-container-right dismiss-slide-in-rl"
  >
    <div class="cmp-side-nav__right-desc">
      <div class="cmp-side-nav__right-desc__img">
        <a href="javascript:void(0);"
          ><img src="../../../resources/images/offers/NextOffer.png" alt="" />
          <div class="cmp-side-nav__right-desc__img__desc">
            <h3>Family Weekend retreat</h3>
            <label class="btn-label">From $288/night</label>
          </div>
        </a>
      </div>
      <div class="cmp-side-nav__right-desc__link">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <a href="javascript:void(0);" class="vertical-label">NEXT OFFER</a>
      </div>
    </div>
  </div>
</section>
