<section class="hero-image-carousel js-banner-check"> 
<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide text-bottom-left">
      <div class="overlay"></div>
      <div class="carousel-text-container">
        <h4>A warm welcome home.</h4>
      </div>
      <img src="../../../resources/images/new_banner/Banner_1.png" alt="" loading="lazy" />
    </div>
    <div class="swiper-slide text-bottom-center">
      <div class="overlay"></div>
      <div class="carousel-text-container">
        <h4>A warm welcome home.</h4>
      </div>
      <img src="../../../resources/images/new_banner/Banner_2.png" alt="" loading="lazy" />
    </div>
    <div class="swiper-slide text-bottom-right">
      <div class="overlay"></div>
      <div class="carousel-text-container">
        <h4>A warm welcome home.</h4>
      </div>
      <img src="../../../resources/images/new_banner/Banner_3.png" alt="" loading="lazy" />
    </div>
    <div class="swiper-slide text-top-left">
      <div class="overlay"></div>
      <div class="carousel-text-container">
        <h4>A warm welcome home.</h4>
      </div>
      <img src="../../../resources/images/new_banner/Banner_4.png" alt="" loading="lazy" />
    </div>
    <div class="swiper-slide text-top-center">
      <div class="overlay"></div>
      <div class="carousel-text-container">
        <h4>A warm welcome home.</h4>
      </div>
      <img src="../../../resources/images/new_banner/Banner_3.png" alt="" loading="lazy" />
    </div>
    <div class="swiper-slide text-top-right">
      <div class="overlay"></div>
      <div class="carousel-text-container">
        <h4>A warm welcome home.</h4>
      </div>
      <img src="../../../resources/images/new_banner/Banner_1.png" alt="" loading="lazy" />
    </div>
    <div class="swiper-slide text-center-left">
      <div class="overlay"></div>
      <div class="carousel-text-container">
        <h4>A warm welcome home.</h4>
      </div>
      <img src="../../../resources/images/new_banner/Banner_2.png" alt="" loading="lazy" />
    </div>
    <div class="swiper-slide text-center-center">
      <div class="overlay"></div>
      <div class="carousel-text-container">
        <h4>A warm welcome home.</h4>
      </div>
      <img src="../../../resources/images/new_banner/Banner_3.png" alt="" loading="lazy" />
    </div>
    <div class="swiper-slide text-center-right">
      <div class="overlay"></div>
      <div class="carousel-text-container">
        <h4>A warm welcome home.</h4>
      </div>
      <img src="../../../resources/images/new_banner/Banner_4.png" alt="" loading="lazy" />
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination-container">
    <div class="swiper-pagination"></div>
  </div>
  <!-- If we need navigation buttons -->
  <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

  <!-- If we need scrollbar -->
  <!--<div class="swiper-scrollbar"></div>-->
</div>
</section>