<section class="offer-highlights cmp-offer-highlights"
         data-offer-api="https://109859-fraserpoc.adobeioruntime.net/api/v1/web/fraserpoc-0.0.1/offer-hotel-rates?hotelId={0}&currencyCode={1}&memberRateCode={2}&rateCode={3}&offerStartDate={4}&offerEndDate={5}"
>
    <div class="template-container">
        <div class="offer-highlights_row">

            <div class="offer-highlights_row-left">
                <h6 class="offer-highlights_row-left--title">FIND PERFECT DEALS IN PERFECT LOCATIONS</h6>
                <p class="offer-highlights_row-left--desc">Enjoy a great deal more when you book direct</p>
                <a href="#" class="offer-highlights_row-left--link">View All Offers</a>
            </div> <!-- ./offer-highlights_row-left -->

            <div class="offer-highlights_row-right right-66"
                data-hotel-id="52606"
                data-member-rate-code="FWOPSS"
                data-rate-code="OPS"
                data-offer-start-date="2021-08-01"
                data-offer-end-date="2021-08-31"
            >
                <img class="offer-highlights_row-right--img" src="../../../resources/images/offer-display/one.png"
                     alt="offer-1" loading="lazy"/>
                <div class="offer-highlights_row-right--details">
                    <h4 class="offer-highlights_row-right--details--title">Fraser World Member Exclusive</h4>
                    <a href="#" class="offer-highlights_row-right--details--link">View Details</a>
                    <div class="offer-highlights_row-right--details__pricing">
                        <div class="offer-highlights_row-right--details__pricing--price">
                            <div class="offer-highlights_row-right--details__pricing--price_from normal-price">
                                <p class="offer-highlights_row-right--details__pricing--price_from-title">FROM</p>
                                <p class="offer-highlights_row-right--details__pricing--price_from-desc normal-price-display">S&#36; 68</p>
                            </div> <!-- ./offer-highlights_row-left -->
                            <div class="offer-highlights_row-right--details__pricing--price_members-only member-price">
                                <p class="offer-highlights_row-right--details__pricing--price_members-only--title">
                                    MEMBERS ONLY</p>
                                <p class="offer-highlights_row-right--details__pricing--price_members-only--desc">
                                    <img src="../../../resources/images/offers/white.png" alt=""><span class="member-price-display">S&#36;
                                    35</span></p>
                            </div> <!-- ./offer-highlights_row-left -->
                        </div> <!-- ./offer-highlights_row-left -->
                        <div class="booking-button">
                            <a href="#" class="btn btn-gold"> BOOK NOW</a>
                        </div> <!-- ./offer-highlights_row-left -->
                    </div> <!-- ./offer-highlights_row-left -->
                </div> <!-- ./offer-highlights_row-left -->

            </div> <!-- ./offer-highlights_row-left -->
        </div> <!-- ./offer-highlights_row -->

        <div class="offer-highlights_row">

            <div class="offer-highlights_row-right"
                 data-hotel-id="6098"
                 data-member-rate-code="FWOPSS"
                 data-rate-code="OPS"
                 data-offer-start-date="2021-08-01"
                 data-offer-end-date="2021-08-31">
                <img class="offer-highlights_row-right--img" src="../../../resources/images/offer-display/two.png"
                     alt="offer-2" loading="lazy"/>
                <div class="offer-highlights_row-right--details" style="padding: 15px 20px">
                    <h4 class="offer-highlights_row-right--details--title">Sweet Dreams & Breakfast</h4>
                    <a class="offer-highlights_row-right--details--link">View Details</a>
                    <div class="offer-highlights_row-right--details__pricing">
                        <div class="offer-highlights_row-right--details__pricing--price">
                            <div class="offer-highlights_row-right--details__pricing--price_from normal-price">
                                <p class="offer-highlights_row-right--details__pricing--price_from-title">FROM</p>
                                <p class="offer-highlights_row-right--details__pricing--price_from-desc normal-price-display">S&#36; 68</p>
                            </div>
                            <div class="offer-highlights_row-right--details__pricing--price_members-only member-pric">
                                <p class="offer-highlights_row-right--details__pricing--price_members-only--title">
                                    MEMBERS ONLY</p>
                                <p class="offer-highlights_row-right--details__pricing--price_members-only--desc">
                                    <img src="../../../resources/images/offers/white.png" alt=""><span class="member-price-display">S&#36;
                                    35</span></p>
                            </div>
                        </div>
                        <div class="booking-button">
                            <a href="#" class="btn btn-gold"> BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer-highlights_row-right"
                 data-hotel-id="95074"
                 data-member-rate-code="FWOPSS"
                 data-rate-code="OPS"
                 data-offer-start-date="2021-08-01"
                 data-offer-end-date="2021-08-31">
                <img class="offer-highlights_row-right--img" src="../../../resources/images/offer-display/three.png"
                     alt="offer-2" loading="lazy"/>
                <div class="offer-highlights_row-right--details" style="padding: 15px 20px">
                    <h4 class="offer-highlights_row-right--details--title">Sweet Dreams & Breakfast</h4>
                    <a class="offer-highlights_row-right--details--link">View Details</a>
                    <div class="offer-highlights_row-right--details__pricing">
                        <div class="offer-highlights_row-right--details__pricing--price">
                            <div class="offer-highlights_row-right--details__pricing--price_from normal-price">
                                <p class="offer-highlights_row-right--details__pricing--price_from-title">FROM</p>
                                <p class="offer-highlights_row-right--details__pricing--price_from-desc normal-price-display">S&#36; 68</p>
                            </div>
                            <div class="offer-highlights_row-right--details__pricing--price_members-only member-pric">
                                <p class="offer-highlights_row-right--details__pricing--price_members-only--title">
                                    MEMBERS ONLY</p>
                                <p class="offer-highlights_row-right--details__pricing--price_members-only--desc">
                                    <img src="../../../resources/images/offers/white.png" alt=""><span class="member-price-display">S&#36;
                                    35</span></p>
                            </div>
                        </div>
                        <div class="booking-button">
                            <a href="#" class="btn btn-gold"> BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer-highlights_row-right"
                 data-hotel-id="95074"
                 data-member-rate-code="FWOPSS"
                 data-rate-code="OPS"
                 data-offer-start-date="2021-08-01"
                 data-offer-end-date="2021-08-31">
                <img class="offer-highlights_row-right--img" src="../../../resources/images/offer-display/four.png"
                     alt="offer-2" loading="lazy"/>
                <div class="offer-highlights_row-right--details" style="padding: 15px 20px">
                    <h4 class="offer-highlights_row-right--details--title">Sweet Dreams & Breakfast</h4>
                    <a class="offer-highlights_row-right--details--link">View Details</a>
                    <div class="offer-highlights_row-right--details__pricing">
                        <div class="offer-highlights_row-right--details__pricing--price">
                            <div class="offer-highlights_row-right--details__pricing--price_from normal-price">
                                <p class="offer-highlights_row-right--details__pricing--price_from-title">FROM</p>
                                <p class="offer-highlights_row-right--details__pricing--price_from-desc normal-price-display">S&#36; 68</p>
                            </div>
                            <div class="offer-highlights_row-right--details__pricing--price_members-only member-pric">
                                <p class="offer-highlights_row-right--details__pricing--price_members-only--title">
                                    MEMBERS ONLY</p>
                                <p class="offer-highlights_row-right--details__pricing--price_members-only--desc">
                                    <img src="../../../resources/images/offers/white.png" alt=""><span class="member-price-display">S&#36;
                                    35</span></p>
                            </div>
                        </div>
                        <div class="booking-button">
                            <a href="#" class="btn btn-gold"> BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ./offer-highlights_bottom -->
    </div>
</section> <!-- ./offer-highlights -->
