<section class="grid_Content_Carusel ">
 
  <div class="grid_view">
    <div class="template-container ">
      <div>
        <div class="swiper-container swiper-content-carousel-grid-view">
         
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="grid_Content_Carusel_grid_container">
                <div class="grid_Content_Carusel_grid_leftImage">
                  <img
                    src="../../../resources/images/CaruselGridView/Carousel3.png"
                    alt=""
                  />
                </div>
                <div class="grid_Content_Carusel_grid_rightImage">
                  <div class="grid_Content_Carusel_grid_rightImage_Content">
                    <img
                      src="../../../resources/images/CaruselGridView/Carousel4.png"
                      alt=""
                    />
                  </div>
                  <div class="grid_Content_Carusel_grid_textContent">
                    <div class="grid_Content_Carusel_grid_textContent_para">
                      <div class="grid_Content_Carusel_grid_textContent_header">
                        <p>Your home away from home</p>
                      </div>
                      <div
                        class="grid_Content_Carusel_grid_textContent_discription"
                      >
                        <p>
                          Each Fraser Residence property is complemented with
                          facilities and services ideal for families and
                          extended stays. They include Swimming pool, kids
                          wading pool and Residents Lounge.
                        </p>
                      </div>
                      <div class="grid_Content_Carusel_grid_textContent_footer">
                        <p>READ MORE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="grid_Content_Carusel_grid_container">
                <div class="grid_Content_Carusel_grid_leftImage">
                  <img
                    src="../../../resources/images/CaruselGridView/Carousel4.png"
                    alt=""
                  />
                </div>
                <div class="grid_Content_Carusel_grid_rightImage">
                  <div class="grid_Content_Carusel_grid_rightImage_Content">
                    <img
                      src="../../../resources/images/CaruselGridView/Carousel4.png"
                      alt=""
                    />
                  </div>
                  <div class="grid_Content_Carusel_grid_textContent">
                    <div class="grid_Content_Carusel_grid_textContent_para">
                      <div class="grid_Content_Carusel_grid_textContent_header">
                        <p>Your home away from home</p>
                      </div>
                      <div
                        class="grid_Content_Carusel_grid_textContent_discription"
                      >
                        <p>
                          Each Fraser Residence property is complemented with
                          facilities and services ideal for families and
                          extended stays. They include Swimming pool, kids
                          wading pool and Residents Lounge.
                        </p>
                      </div>
                      <div class="grid_Content_Carusel_grid_textContent_footer">
                        <p>LEARN MORE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="grid_Content_Carusel_grid_container">
                <div class="grid_Content_Carusel_grid_leftImage">
                  <img
                    src="../../../resources/images/CaruselGridView/Carousel3.png"
                    alt=""
                  />
                </div>
                <div class="grid_Content_Carusel_grid_rightImage">
                  <div class="grid_Content_Carusel_grid_rightImage_Content">
                    <img
                      src="../../../resources/images/CaruselGridView/Carousel4.png"
                      alt=""
                    />
                  </div>
                  <div class="grid_Content_Carusel_grid_textContent">
                    <div class="grid_Content_Carusel_grid_textContent_para">
                      <div class="grid_Content_Carusel_grid_textContent_header">
                        <p>Your home away from home</p>
                      </div>
                      <div
                        class="grid_Content_Carusel_grid_textContent_discription"
                      >
                        <p>
                          Each Fraser Residence property is complemented with
                          facilities and services ideal for families and
                          extended stays. They include Swimming pool, kids
                          wading pool and Residents Lounge.
                        </p>
                      </div>
                      <div class="grid_Content_Carusel_grid_textContent_footer">
                        <p>LEARN MORE</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                  </div>
        <div class="swiperbtn">
          <div class="swiper-button-prev slidenext"></div>
          <div class="swiper-button-next slideprev"></div>
         


                 </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="grid_content_carousel_smd">
  <div class="grid_content_carousel_container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img
                src="../../../resources/images/CaruselGridView/Carousel3.png"
              />
            </div>
          </div>
        </div>
        
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>
  </div>
  <div></div>
</section> -->
