<div class="modena-brand-feature-container" data-slide-interval="4000">
    <div class="mbf-first-section">
        <div class="mbf-col-6">
            <img class="mbf-img" src="../../../resources/images/article_highlights/Train Journey_Cover.png"
                loading="lazy" alt="">

        </div>
        <div class="mbf-col-6 bg-blue">

            <div class="mbf-sec-content">
                <div class="modena-brand-logo">
                    <img src="../../../resources/images/Modena/modena-logo.png" />
                </div>
                <!--/* <h1>MODENA<span>BY FRASER</span></h1> */-->
                
                <div class="mdf-txt">
                    Modena by Fraser is about celebrating simplicity.
                    Experience a space of your own set against
                    modern, functional living spaces and connected
                    communal areas that encourages work and rest.
                </div>
                <div class="link"><a href="javascript:void(0)">Read more</a></div>
            </div>

        </div>
    </div>
    <div class="mbf-second-section">
        <div class="mbf-col-6 bg-gray">
            <div class="mbf-content-carousel">

                <div class="mbf-slide fade">
                    <div class="mdf-slide-cnt">
                    <h5>MODENA STANDS FOR</h5>
                    <h1>Liveable Spaces</h1>
                    <p>Air to breath. Space to think. Room to stretch.
                        A place that’s sensitive to your needs.
                        Each apartment is designed with functional
                        Spaces and smart room controls.</p>
                    </div>
                </div>

                <div class="mbf-slide fade">
                    <div class="mdf-slide-cnt">
                    <h5>MODENA STANDS FOR</h5>
                    <h1>Liveable Spaces</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim venenatis nibh in
                        molestie. Pellentesque a pretium sem, at venenatis turpis.</p>
                    </div>
                </div>

                <div class="mbf-slide fade">
                    <div class="mdf-slide-cnt">
                    <h5>MODENA STANDS FOR</h5>
                    <h1>Liveable Spaces</h1>
                    <p>Donec non mauris commodo, dapibus mi at, commodo metus. Donec ultrices nibh eu est convallis,
                        eget fermentum lorem eleifend. Sed at nisl scelerisque, pulvinar ipsum et, vestibulum tortor. In
                        pretium lorem tellus, et laoreet risus tristique in. Aenean leo nibh, varius </p>
                    </div>
                </div>


            </div>


        </div>
        <div class="mbf-col-6 image-slider">
            <img src="../../../resources/images/CaruselGridView/Carousel3.png" alt="" class="mbf-full-width" style="display:block;" />
            <img src="../../../resources/images/CaruselGridView/Carousel4.png" alt="" class="mbf-full-width" style="display:none;" />
            <img src="../../../resources/images/CaruselGridView/Article4.png" alt="" class="mbf-full-width" style="display:none;" />
        </div>
    </div>

</div>