<section class="template-container single-offer cmp-single-offer-details" data-hotel-id="95074" data-member-rate-code=""
  data-min-days="7" data-rate-code="OPS" data-promo-code="best" data-max-date="25-10-2021"
  data-offer-calendar-availability="https://109859-fraserpoc.adobeioruntime.net/api/v1/web/fraserpoc-0.0.1/calendar-availability?hotelId={0}&startDate={1}&endDate={2}&currencyCode={3}&bufferDays={4}&rateCode={5}&memberRateCode={6}&memberRate=true">
  <div class="single-offer__wrapper">
    <div class="single-offer__details">
      <h2><span>Stay a While -</span> Long Stay Your Way at Fraser</h2>
      <div class="single-offer__details__social">
        <a href="#">SHARE THIS OFFER</a>
        <ul class="single-offer__details__icon list-unstyled">
          <li>
            <a href="#"> <i class="fa fa-weixin"></i> </a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-facebook"></i> </a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-twitter"></i> </a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-youtube"></i> </a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-instagram"></i> </a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-linkedin"></i> </a>
          </li>
        </ul>
        <div class="single-offer__details__desc">
          <p>Offer details</p>
          <div class="single-offer__details__col">
            <span class="single-offer__details__col__period">Offer Period / Stay Dates:</span>
            <span class="single-offer__details__col__date">Valid till 20th July 2021</span>
          </div>
          <div class="single-offer__details__col">
            <span class="single-offer__details__col__period">Book By:</span>
            <span class="single-offer__details__col__date">29th June 2021</span>
          </div>
          <div class="single-offer__details__col">
            <span class="single-offer__details__col__period">Minimum Stay:</span>
            <span class="single-offer__details__col__date">14 days</span>
          </div>
          <div class="single-offer__details__col">
            <span class="single-offer__details__col__period">Promo Code:</span>
            <span class="single-offer__details__col__date">XXXX</span>
          </div>
        </div>
        <div class="single-offer__details__para">
          <p>
            Long stay accommodation in Australia from 14 + nights. Don’t
            compromise your standard of living when travelling or relocating.
            Stay A While at any of the Frasers Hospitality properties
            conveniently located Australia-wide.
          </p>
          <div class="single-offer__details__para__moretext">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
              excepturi suscipit ut cupiditate omnis libero odit reiciendis nulla,
              esse quod quia. Sunt quo, non vel minus perspiciatis sequi ducimus
              quaerat. Deserunt ex quos necessitatibus error recusandae quae
              ratione atque, veniam, praesentium, quas sunt. Suscipit earum
              repellat numquam mollitia aut, dolorum sunt quae! Provident qui quae
              dolorum veniam quod fuga laboriosam.
            </p>
          </div>
          <a class="readmoreless" href="javascript:void(0)">Read more</a>
        </div>
      </div>
    </div>
    <div class="single-offer__img">
      <img src="../../../resources/images/offers/SmallImage.png" alt="" />
    </div>
  </div>
</section>
<section class="template-container single-offer-accordion">
  <div class="accordion__row">
    <div class="accordion-wrapper">
      <div class="accordion-wrapper__head">INCLUSIONS</div>
      <div class="accordion-wrapper__body">
        <div class="accordion-wrapper__body__inclusions">
          <ul>
            <li>
              Discounted nightly rate*
            </li>
            <li>
              Free + fast Wi-Fi (multiple devices)
            </li>
            <li>
              Welcome gift hamper*
            </li>
            <li>
              24hr guest reception service
            </li>
            <li>
              Self-service guest laundry included**
            </li>
            <li>
              Mid-week housekeeping cleaning service included*
            </li>
            <li>
              Special car parking rate per day**
            </li>
            <li>
              Food & Beverage discounts**
            </li>
            <li>
              Luggage storage and onsite use of amenities to freshen up after
              long haul flights
            </li>
            <li>
              Late check out of 12pm
            </li>
            <li>
              Complimentary access to onsite leisure centre
            </li>
            <li>
              Utilities included in nightly rates
            </li>
          </ul>
          <div class="offer-available__inclusions__right">
            <!-- default calendar start -->
            <div class="single__calendar ">
              <div class="single__calendar--heading calendar__heading">
                <h4>CHECK AVAILABILITY</h4>
              </div>
              <div class="single__calendar__container ">
                <div id="single__calendar"></div>
              </div>
              <div class="single__calendar__footer calendar__footer ">
                <button class="single__calendar__btn  calendar__footer__btn">book now</button>
              </div>
              <div class="single__calendar__wrapper"></div>
            </div>
            <!-- default calendar end -->
            <!-- multi calendar start -->
            <div class="multi__calendar">
              <div class="multi__calendar__header">
                <h4 class="multi__calendar__header--heading">
                  CHECK AVAILABILITY
                </h4>
                <p class="multi__calendar__header--error">
                  Offer is not available on selected dates
                </p>
              </div>
              <div class="multi__calendar__container">
                <div id="multi__calendar"></div>
              </div>
              <div class="multi__calendar__footer">
                <div class="home-booking-widget_section-top__pax_selector">
                  <p class="home-booking-widget_section-top__pax_selector-input">
                    1 adults, 0 children
                  </p>
                  <div class="pax-details">
                    <div class="pax-details__row adult">
                      <div class="pax-details__row_container adult">
                        <span class="pax-details__row_container--title">adults</span>
                      </div>
                      <div class="pax-details__row--content">
                        <div class="pax-details__row--content__item">
                          <div class="pax-details__row--content__item--number">
                            <!-- <input type="number" value="0"  /> -->
                            <p>1</p>
                            <span>Adults</span>
                          </div>
                        </div>
                        <div class="pax-details__row--content__item">
                          <a class="pax-details__row--content__item--minus remove_btn disabled"><i
                              class="fa fa-minus"></i></a>
                          <a class="pax-details__row--content__item--plus add_btn"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="pax-details__row children">
                      <div class="pax-details__row_container children">
                        <span class="pax-details__row_container--title">children</span>
                      </div>
                      <div class="pax-details__row--content">
                        <div class="pax-details__row--content__item">
                          <div class="pax-details__row--content__item--number">
                            <!-- <input type="number" value="0"  /> -->
                            <p>0</p>
                            <span>Children</span>
                          </div>
                        </div>
                        <div class="pax-details__row--content__item">
                          <a class="pax-details__row--content__item--minus remove_btn disabled"><i
                              class="fa fa-minus"></i></a>
                          <a class="pax-details__row--content__item--plus add_btn"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="adult-age-group"></div>
                    <div class="child-age-group"></div>
                  </div>
                  <p class="home-booking-widget_section-top__pax_selector--info">
                    Rates are inclusive of 2 guests.
                  </p>
                </div>
                <button class="multi__calendar__footer--btn">book now</button>
              </div>
            </div>
            <!-- multi calendar end -->
          </div>
        </div>
      </div>
      <div class="accordion-wrapper__head">Terms & Conditions</div>
      <div class="accordion-wrapper__body">
        <div class="accordion-wrapper__body__terms">
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sit,
              ex optio voluptas non excepturi eaque labore
            </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
        </div>
      </div>
    </div>
    <form id="booking-form" action="https://be-cuat.synxis.com/" method="get" target="_blank" autocomplete="off">
      <input type="hidden" id="level" name="level" value="hotel" />
      <input type="hidden" id="hotel" name="hotel" value="" />
      <input type="hidden" id="depart" name="depart" value="" />
      <input type="hidden" id="arrive" name="arrive" value="" />
      <input type="hidden" id="chain" name="chain" value="10322" />
      <input type="hidden" id="adult" name="adult" value="1" />
      <input type="hidden" id="child" name="child" value="0" />
      <input type="hidden" id="childages" name="childages" value="" />
      <input type="hidden" id="currency" name="currency" value="SGD" />
      <input type="hidden" id="locale" name="locale" value="en-US" />
      <input type="hidden" id="Promo" name="Promo" value="" />
    </form>
  </div>
</section>
</div>
</section>