<section
	class="property-booking-widget"
	data-hotel-list="../../../resources/utils/data.json"
>
	<div class="template-container">
		<div class="property-booking-widget_section">
			<div class="property-booking-widget_section_search">
				<input
					type="text"
					placeholder="Where are you planning to travel?"
					id="search-hotels"
				/>
				<div class="auto-search-panel">
					<ul></ul>
				</div>
			</div>
			<input type="hidden" name="countrySelect" id="countrySelect" />
			<input type="hidden" name="stateSelect" id="stateSelect" />
			<div class="property-booking-widget_section_icons">
				<i class="fa fa-search"></i>
			</div>
		</div>
	</div>
</section>
