<section class="introText">
  <div class="template-container">
    <div class="intro_text_container">
      <div class="intro_text_header">
        <h4 class="text-center">FEELS LIKE A SECOND HOME</h4>
      </div>
      <div class="intro_text_logo">
        <img src="../../../resources/images/footer/residence.png">
      </div>
      <div class="intro_text_description">
        <p>Fraser Suites enjoys a highly desirable address in key business districts reflecting the character of the host city. Distinctively premium, each property embodies understated elegance and relaxed formality.</p>
        <div class="more-text">
          <p>Fraser Suites enjoys a highly desirable address in key business districts reflecting the character of the host city. Distinctively premium, each property embodies understated elegance and relaxed formality.</p>
        </div>
      </div>
      <div class="intro_text_read-more-btn-area text-center">
        <a href="javascript: void(0);" class="read-more-btn">Read More</a>
        <a href="javascript: void(0);" class="read-less-btn">Read Less</a>
      </div>
    </div>
  </div>
</section>