<section class="introText">
    <div class="template-container">
    <div class="intro_text_container">
      <div class="intro_text_header">
        <span>FEELS LIKE A SECOND HOME</span>
      </div>
      <div class="intro_text_discription">
        <p>Fraser Suites enjoys a highly desirable address in key business districts reflecting the character of the host city. Distinctively premium, each property embodies understated elegance and relaxed formality.</p>
        <p id="moretext">Fraser Suites enjoys a highly desirable address in key business districts reflecting the character of the host city. Distinctively premium, each property embodies understated elegance and relaxed formality.</p>
       
      </div>
      <div class="intro_text_readMore">
      <p><a class="more-less-btn">READ MORE</a></p>
      </div>
    </div>
    </div>
    </section>