<div
	class="map-view location-map-view"
	data-country-url="../../../resources/utils/country.json"
	data-hotels-url="../../../resources/utils/data.json"
>
	<!-- <section class="map-view__filters pt-50 pb-50">
				<div class="grid-container">
					<select name="country" id="country">
						<option disabled value="default" selected="selected">
							Select
						</option>
					</select>
				</div>
				<div class="grid-container">
					<select name="state" id="state">
						<option disabled value="default" selected="selected">
							Select
						</option>
					</select>
				</div>
			</section> -->
	<section class="map-view__map bg-grey image_align_right">
		<div class="grid-container">
			<div id="map"></div>
		</div>
	</section>
</div>
<script src="https://unpkg.com/@googlemaps/markerclustererplus@1.2.0/dist/index.min.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFQmTUM-_1QC_AVPoF6aU_Vmck0g7kcmg&libraries=&v=weekly"
	async
></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script></script>
