<section class="cmp-room-type cmp-room-carousel bg-background-dark-cream">
  <div class="cmp-room-type_header">
    <div class="template-container">
      <h3 class="">VIEW Other Room types</h3>
    </div>
  </div>
  <div class="related-offers-padding">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../../../resources/images/roomdetail/CuratedOffer1.png" alt="" />
          <div class="swiper-slide__content">
            <h3>
              Studio Deluxe
            </h3>
            <a href="#">View Details</a>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../../resources/images/roomdetail/CuratedOffer2.png" alt="" />
          <div class="swiper-slide__content">
            <h3>
              Studio Deluxe
            </h3>
            <a href="#">View Details</a>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../../resources/images/roomdetail/CuratedOffer3.png" alt="" />
          <div class="swiper-slide__content">
            <h3>
              One Bedroom Executive
            </h3>
            <a href="#">View Details</a>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../../resources/images/roomdetail/CuratedOffer4.png" alt="" />
          <div class="swiper-slide__content">
            <h3>
              Two Bedroom Suites
            </h3>
            <a href="#">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>