<section class="content-carousel-single-image-slider">
  <div class="content-carousel-single-image-slider__container">
    <div class="swiper-container placeswiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>1. In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel1.png" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__right">
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel2.png" />
            </div>
            <div class="swiper-slide__desc">
              <h3>1. Lifestyle facilities</h3>
              <p>
                The diverse range of lifestyle facilities offer our guests a
                space to unwind after a hard day of work, some of which includes
                a 24/7 Gym and Billiard room.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>2. In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel1.png" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__right">
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel2.png" />
            </div>
            <div class="swiper-slide__desc">
              <h3>2. Lifestyle facilities</h3>
              <p>
                The diverse range of lifestyle facilities offer our guests a
                space to unwind after a hard day of work, some of which includes
                a 24/7 Gym and Billiard room.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__left">
            <div class="swiper-slide__desc">
              <h3>3. In the heart of entertainment districts</h3>
              <p>
                Each Fraser Place property is well placed with the action of the
                city and served by a network of transportation systems and
                lifestyle offerings.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel1.png" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__right">
            <div class="swiper-slide__img">
              <img src="../../../resources/images/placedetail/Carousel2.png" />
            </div>
            <div class="swiper-slide__desc">
              <h3>3. Lifestyle facilities</h3>
              <p>
                The diverse range of lifestyle facilities offer our guests a
                space to unwind after a hard day of work, some of which includes
                a 24/7 Gym and Billiard room.
              </p>
              <a href="#">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
