.content-carousel-single-image-slider {
    background-color: #eff7fa;
    padding-top: 110px;
    &.lg-devices {
        @include breakpoint(medium-desktop-min) {
            display: block;
        }
        @include breakpoint(ipad-max) {
            display: none;
        }
    }
    &.sm-devices {
        @include breakpoint(ipad-max) {
            display: block;
        }
        @include breakpoint(medium-desktop-min) {
            display: none;
        }
        .swiper-slide {
            &__img {
                img {
                    width: 100%;
                    height: 290px;
                }
            }
        }
    }
    &__container {
        max-width: $container-width;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        &__desc {
            margin-bottom: 15px;
            h3 {
                font-size: 1.8rem;
                font-family: $font-garamond-regular;
                line-height: 30px;
                margin-bottom: 15px;
                @extend .color-darken-black;
                @include breakpoint(mobile-max) {
                    font-size: 1.625rem;
                    line-height: 2rem;
                    letter-spacing: -0.39px;
                    max-width: 70%;
                }
            }
            p {
                font-size: 0.85rem;
                font-family: $font-primary;
                color: $color-text;
                @include breakpoint(mobile-max) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
            a {
                font-family: $font-garamond-regular;
            }
        }
        &__left {
            max-width: 75%;
            margin-left: 140px;
            // border-right: 1px solid #866d4b;
            padding-bottom: 70px;
            .swiper-slide__desc {
                max-width: 70%;
                @include breakpoint(mobile-max) {
                    max-width: 100%;
                    margin-bottom: 30px;
                }
            }
            @include breakpoint(ipad-max) {
                border-right: none;
            }
            @include breakpoint(mobile-max) {
                max-width: 100%;
                margin: 0;
                border-right: none;
            }
        }
        &__right {
            margin-right: 110px;
            margin-left: 15px;
            @include breakpoint(mobile-max) {
                width: 100%;
                margin: 0 auto;
            }
            h3 {
                margin-top: 20px;
            }
        }
        &__img {
            transition: 0.5s ease-in-out;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -ms-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }
    @include breakpoint(mobile-max) {
        padding-top: 35px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        &::after {
            font-size: 1.2rem !important;
            color: #222;
            background-color: #fff;
            border-radius: 50%;
            padding: 20px 25px;
            width: 60px;
            height: 60px;
            @include breakpoint(mobile-max) {
                width: 40px;
                height: 40px;
                padding: 10px 16px;
            }
        }
    }
    .swiper-button-next {
        right: 20px;
        @include breakpoint(mobile-max) {
            right: -15px;
        }
    }
    .swiper-button-prev {
        left: 30px;
        @include breakpoint(mobile-max) {
            left: -15px;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        @include breakpoint(mobile-max) {
            transform: translateY(100%);
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
        }
    }
    .swiper-slide-active {
        position: relative;
        >div {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                // margin-right: 15px;
                width: 1px;
                height: 100%;
                background-color: #866d4b;
                display: block;
            }
        }
    }
    @include breakpoint(mobile-max) {
        .swiper-slide-active {
            position: relative;
            >div {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    // margin-right: 15px;
                    width: 1px;
                    height: 100%;
                    background-color: transparent;
                    display: block;
                }
            }
        }
        .content-carousel-single-image-slider__container {
            padding: 20px;
            .swiper-container {
                overflow: visible;
            }
        }
    }
}