<section class="content-carusel">
  <div class="template-container">
      <div class="content-carusel_slides">
            <div class="content-carusel_slides_left">
                 <div class="content-carusel_slides_left_card fade">
                   <div class="content-carusel_slides_left_card_image">
                      <img src="../../../resources/images/ColumnCarusel/0ec2d66befd91de2597424dfaa7e7661.png" alt="">
                   </div>
                   <div class="content-carusel_slides_left_card_header">
                           <p>PERSONALISED SERVICE</p>
                   </div>
                   <div class="content-carusel_slides_left_card_discription">
                      <p>We make our guests feel at home and curate their experience by offering bespoke touches to their apartment and attentive concierge services to answer their every need.</p>

                   </div>
                   <div class="content-carusel_slides_left_card_fotter">
                      <p>Learn More</p>
                   </div>
                   
                 </div>
                 <div class="content-carusel_slides_left_card fade">
                  <div class="content-carusel_slides_left_card_image">
                     <img src="../../../resources/images/ColumnCarusel/6e106f9dc777a169f33fb25bb894e76c.png" alt="">
                  </div>
                  <div class="content-carusel_slides_left_card_header">
                          <p>PERSONALISED SERVICE</p>
                  </div>
                  <div class="content-carusel_slides_left_card_discription">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae, aspernatur non, pariatur earum minima blanditiis amet modi quam expedita vel quidem optio. Laudantium, fugit molestias fugiat totam vel tempore.</p>

                  </div>
                  <div class="content-carusel_slides_left_card_fotter">
                     <p>Learn More</p>
                  </div>
                  
                </div>
                 <div class="content-carusel_slides_left_icons">
                  <i id="prev" class="fa fa-angle-left" aria-hidden="true"></i>
                  <i id="next" class="fa fa-angle-right" aria-hidden="true"></i>

               </div>
                
            </div> 
            <div class="content-carusel_slides_right ">
               <img src="../../../resources/images/ColumnCarusel/6e106f9dc777a169f33fb25bb894e76c.png" alt="">
           </div>
           <div class="content-carusel_slides_right">
              <img src="../../../resources/images/ColumnCarusel/0ec2d66befd91de2597424dfaa7e7661.png" alt="">
          </div> 

      </div>
  </div>
</section>