<section class="services">
  <div class="template-container">
    <div class="services__carousel swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="services__item" loading="lazy">
            <div class="services__image">
              <img
                src="../../../resources/images/property_location/Icons/FlexibleBookings.png"
                loading="lazy"
                alt="flexible booking"
              />
            </div>
            <p class="services__title">FLEXIBLE BOOKING</p>
            <p class="services__desc">
              24/7 Front desk Service Luggage storage
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="services__item highlighted">
            <div class="services__image">
              <img
                src="../../../resources/images/property_location/Icons/Services.png"
                loading="lazy"
                alt=""
              />
            </div>
            <p class="services__title">SERVICES</p>
            <p class="services__desc">
              24/7 Front desk Service Luggage storage
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="services__item">
            <div class="services__image">
              <img
                src="../../../resources/images/property_location/Icons/Amenities.png"
                loading="lazy"
                alt=""
              />
            </div>

            <p class="services__title">AMENITIES</p>
            <p class="services__desc">
              Housekeeping services Laundry services *
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="services__item">
            <div class="services__image">
              <img
                src="../../../resources/images/property_location/Icons/Health&Wellness.png"
                loading="lazy"
                alt=""
              />
            </div>
            <p class="services__title">HEALTH & WELLNESS</p>
            <p class="services__desc">
              24/7 Front desk Service Luggage storage
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="services__item" loading="lazy">
            <div class="services__image">
              <img
                src="../../../resources/images/property_location/Icons/FlexibleBookings.png"
                loading="lazy"
                alt="flexible booking"
              />
            </div>
            <p class="services__title">FLEXIBLE BOOKING</p>
            <p class="services__desc">
              24/7 Front desk Service Luggage storage
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="services__item">
            <div class="services__image">
              <img
                src="../../../resources/images/property_location/Icons/Services.png"
                loading="lazy"
                alt=""
              />
            </div>
            <p class="services__title">SERVICES</p>
            <p class="services__desc">
              24/7 Front desk Service Luggage storage
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="services__item">
            <div class="services__image">
              <img
                src="../../../resources/images/property_location/Icons/Amenities.png"
                loading="lazy"
                alt=""
              />
            </div>

            <p class="services__title">AMENITIES</p>
            <p class="services__desc">
              Housekeeping services Laundry services *
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="services__item">
            <div class="services__image">
              <img
                src="../../../resources/images/property_location/Icons/Health&Wellness.png"
                loading="lazy"
                alt=""
              />
            </div>
            <p class="services__title">HEALTH & WELLNESS</p>
            <p class="services__desc">
              24/7 Front desk Service Luggage storage
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
