/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.main-menu ul li a {
  padding: 30px 12px;
}
.top-right li span {
  font-size: 12px;
}
.top-right li a {
  font-size: 12px;
}
.top-right li {
  line-height: 33px;
}

.mt-sm-50{margin-top:50px;}
.Flickr-list > li {
  width: inherit;
}
.footer-area .Flickr-list > li {
  width: 33.33%;
}



}

/* small mobile :320px. */
@media (max-width: 767px) {
/* .container {width:300px} */

.portfolio-filter li {
  margin: 3px 4px;
}
.social-icons.text-center > a {
  margin: 0 2px;
 }
.single-counter {
  width: 50%;
}
 
 
}

