<section class="secondarytabs">
  <ul class="secondarytabs__tab">
    <li><a href="#tab1">UPCOMING STAYS</a></li>
    <li><a href="#tab2">PAST STAYS</a></li>
    <li><a href="#tab3">POINTS EARNED</a></li>
    <li><a href="#tab4">POINTS REDEEMED</a></li>
    <li><a href="#tab5">VOUCHERS</a></li>
  </ul>

  <div id="tabs-content">
    <div id="tab1" class="tab-content">
      <h2>UPCOMING STAYS</h2>
    </div>
    <div id="tab2" class="tab-content">
      <h2>PAST STAYS</h2>
    </div>
    <div id="tab3" class="tab-content">
      <h2>POINTS EARNED</h2>
    </div>
    <div id="tab4" class="tab-content">
      <h2>POINTS REDEEMED</h2>
    </div>
    <div id="tab5" class="tab-content">
      <h2>VOUCHERS</h2>
    </div>
  </div>
</section>