<section class="property-location" data-hotels-url="../../../resources/utils/propertyLocation.json">
  <div class="property-location__details image_align_right">
    <div class="property-location__details-title">
      <p>Getting here</p>
      <div class="property-location__details-title-hotel-name">
        FRASER SUITES SYDNEY
      </div>
    </div>
    <div class="property-location__details-address">
      10 Adelaide Terrace, Sydney, Australia, 6004
    </div>
    <div class="property-location__details-contact">
      <div>
        <div>Phone : </div>
        <p class="property-location__details-contact-phone"></p>
      </div>
      <div>
        <div>Facsimile : </div>
        <p class="property-location__details-contact-facsimile"></p>
      </div>
      <div>
        <div>Toll-Free : </div>
        <p class="property-location__details-contact-tollfree"></p>
      </div>
      <div>
        <div>Email : </div>
        <p class="property-location__details-contact-email"></p>
      </div>
      <div class="property-location__details-contact-reservation-email">
        <div>Reservations Email : </div>
        <p class="property-location__details-contact-resemail"></p>
      </div>
    </div>
    <hr class="property-location__details-divider">
    <div class="property-location__details-airport">
      <div>
        <div>Airport information : </div>
        <p class="property-location__details-airport-info"></p>
      </div>
      <div>
        <div>Distance to property :</div>
        <p class="property-location__details-airport-distance"></p>
      </div>
      <div class="property-location__details-airport-transfer-available">
        <i class="fa fa-plane"></i>
        <p>Airport transfer is available on request</p>
      </div>
    </div>
  </div>
  <div class="property-location__map image_align_right">
    <div id="map"></div>
  </div>
</section>
<script src="https://unpkg.com/@googlemaps/markerclustererplus@1.2.0/dist/index.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFQmTUM-_1QC_AVPoF6aU_Vmck0g7kcmg&libraries=&v=weekly"
  async></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>