//== Font
$font-primary: "Roboto", sans-serif;
$font-secondary: "Cormorant Garamond", sans-serif;
$font-ternary: "Sebastian Bobby", sans-serif;
$font-garamond-regular: "Cormorant_Garamond-Regular";

// Color
$color-primary: #866d4b;
$color-text: #5f5f5f;
$color-black: #000;
$color-darken-black: #222;
$color-white: #fff;
$color-tab-medium-primary: #342B2A;
$color-tab-border-primary: #c9c9c6;
$color-light-cream: #F5F5F5;
$color-dark-cream: #EDE2D9;
$color-tab-light-cream: #e3e2dd;
// Bg Color
$frasers-hospitality-bg: #dbdbdb;
$frasers-suites-primary-bg: #F4F0ED;
$frasers-suites-secondary-bg: #EDE2D9;
$frasers-residence-primary-bg: $color-white;
$frasers-residence-secondary-bg: #E7F0ED;
$frasers-place-primary-bg: $color-white;
$frasers-place-secondary-bg: #EFF7FA;
$frasers-modena-primary-bg: #00ABC7;
$frasers-modena-secondary-bg: #E2FBFF;
$frasers-capri-primary-bg: #611A8E;
$frasers-capri-secondary-bg: #611A8E;

$frasers-world-primary-bg: #F4F4F4;
$frasers-world-secondary-bg: #F4F4F4;
$frasers-cachet-primary-bg: #FDFBF5;
$frasers-cachet-secondary-bg: #FDFBF5;

// Container and Grid Spacing
$container-width: 1190px;
$grid-space: 15px;

// ICOMOON
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../resources/fonts/icomoon" !default;

$fh-icon-call: "\e900";
$fh-icon-check-cirlce: "\e901";
$fh-icon-close: "\e902";
$fh-icon-down-arrow: "\e903";
$fh-icon-facebook: "\e904";
$fh-icon-filter: "\e905";
$fh-icon-grid: "\e906";
$fh-icon-information: "\e907";
$fh-icon-instagram: "\e908";
$fh-icon-invisible: "\e909";
$fh-icon-left-arrow: "\e90a";
$fh-icon-line-arrow-left: "\e90b";
$fh-icon-line-arrow-right: "\e90c";
$fh-icon-linkedin: "\e90d";
$fh-icon-list: "\e90e";
$fh-icon-location: "\e90f";
$fh-icon-mail: "\e910";
$fh-icon-minus: "\e911";
$fh-icon-plus: "\e912";
$fh-icon-right-arrow: "\e913";
$fh-icon-search: "\e914";
$fh-icon-tick: "\e915";
$fh-icon-twitter: "\e916";
$fh-icon-twitter-outline: "\e917";
$fh-icon-up-arrow: "\e918";
$fh-icon-users-group: "\e919";
$fh-icon-visibility: "\e91a";
$fh-icon-youtube: "\e91b";
$fh-icon-wechat: "\e91c";
$fh-icon-calendar: "\e91d";
