
<!-- column control -->
<section class="column-control">
    <div class="template-container">
        <div class="controlled-columns columns-50-50">
            <div class="controlled-columns__left content-align-center">
                <img src="../../../resources/images/column-control/Group_3833.png"/>
            </div>
            <div class="controlled-columns__right content-align-center">
                <img src="../../../resources/images/column-control/Group_3833.png"/>
            </div>
        </div>
    </div>
</section>
<!-- column control -->