    <!-- column control -->
    <section class="column-control">
        <div class="template-container">
            <div class="controlled-columns columns-five mb-30 mt-50">
                <div class="controlled-columns__one content-align-left">

                </div>
                <div class="controlled-columns__two content-align-left">
                    <img src="../../../resources/images/column-control/Group_3833.png"/>
                </div>
                <div class="controlled-columns__three content-align-left">
                    <img src="../../../resources/images/column-control/Group_3833.png"/>
                </div>
                <div class="controlled-columns__four content-align-left">
                    <img src="../../../resources/images/column-control/Group_3833.png"/>
                </div>
                <div class="controlled-columns__five content-align-left">

                </div>
            </div>
            <div class="column-control__text_title mb-30">
                <h4>worlds leading serviced apratments and hotel residences.</h4>
                <h4>discover <span class="sebastian-bobby1">yours</span> now</h4>
            </div>
            <div class="column-control__text_desc mt-30">
                <p><span class="color_gold">#FrasersCares</span>: Globally verified levels of hygiene ensure your safety and
                    well-being.</p>
            </div>

        </div>
    </section>