    <!-- column control -->
    <section class="column-control">
        <div class="template-container">
            <div class="controlled-columns columns-70-30">
                <div class="controlled-columns__left content-align-left">
                    <img src="../../../resources/images/column-control/Group_3833.png"/>
                </div>
                <div class="controlled-columns__right content-align-left">
                    <img src="../../../resources/images/column-control/Group_3833.png"/>
                </div>
            </div>
        </div>
    </section>