<!-- column control -->
    <section class="column-control">
        <div class="grid-container">
            <div class="controlled-columns columns-five">
                <div class="controlled-columns__one content-align-left">
                    <img src="../../../resources/images/column-control/Group_3833.png"/>
                </div>
                <div class="controlled-columns__two content-align-left">
                    <img src="../../../resources/images/column-control/Group_3833.png"/>
                </div>
                <div class="controlled-columns__three content-align-left">
                    <img src="../../../resources/images/column-control/Group_3833.png"/>
                </div>
                <div class="controlled-columns__four content-align-left">
                    <img src="../../../resources/images/column-control/Group_3833.png"/>
                </div>
                <div class="controlled-columns__five content-align-left">
                    <img src="../../../resources/images/column-control/Group_3833.png"/>
                </div>
            </div>
        </div>
    </section>