<section class="column-control">
  <div class="grid-container">
    <div class="column-control__image mb-30">
      <img src="../../../resources/images/column-control/Group_3833.svg" />
      <img src="../../../resources/images/column-control/Group_3833.svg" />
      <img src="../../../resources/images/column-control/Group_3833.svg" />
    </div>
    <div class="column-control__details">
      <div class="column-control__text_title mb-30">
        <h4>worlds leading serviced apratments and hotel residences.</h4>
        <h4>discover <span class="sebastian-bobby1">yours</span> now</h4>
      </div>
      <div class="column-control__text_desc mt-30">
        <p><span class="color_gold">#FrasersCares</span>: Globally verified levels of hygiene ensure your safety and
          well-being.</p>
      </div>
    </div>
  </div>
</section>