<section class="offer-craousel">
  <div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../../../resources/images/offers/Offer1.png" alt="" />
        <div class="swiper-slide__content">
          <h3>
            Fraser Suites Seef Bahrain – Great Savings For 7 Nights Stay Or
            More
          </h3>
          <p class="title">
            Our serviced apartments provide the convenience of a hotel with
            the added space, privacy and…
          </p>
          <a href="#">View Details</a>
          <div class="swiper-slide__content__pricing">
            <div class="swiper-slide__content__pricing__left">
              <div class="swiper-slide__content__pricing__left__form">
                <p class="swiper-slide__content__pricing__left__form-title">
                  FROM
                </p>
                <p class="swiper-slide__content__pricing__left__form-desc">
                  S$ 68
                </p>
              </div>
              <div class="swiper-slide__content__pricing__left__form">
                <p class="swiper-slide__content__pricing__left__form-title">
                  MEMBERS ONLY
                </p>
                <p class="swiper-slide__content__pricing__left__form-desc">
                  <img src="../../../resources/images/offers/color.png" alt="" />
                  S$ 35
                </p>
              </div>
            </div>
            <div class="swiper-slide__content__pricing__right">
              <a href="#" class="btn btn-gold"> CHECK RATES</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="../../../resources/images/offers/Offer2.png" alt="" />
        <div class="swiper-slide__patch">
          member exclusive
        </div>
        <div class="swiper-slide__content">
          <h3>
            Fraser Suites Seef Bahrain – Great Savings For 7 Nights Stay Or
            More
          </h3>
          <p class="title">
            Our serviced apartments provide the convenience of a hotel with
            the added space, privacy and…
          </p>
          <a href="#">View Details</a>
          <div class="swiper-slide__content__pricing">
            <div class="swiper-slide__content__pricing__left">
              <div class="swiper-slide__content__pricing__left__form">
                <p class="swiper-slide__content__pricing__left__form-title">
                  FROM
                </p>
                <p class="swiper-slide__content__pricing__left__form-desc">
                  S$ 68
                </p>
              </div>
              <div class="swiper-slide__content__pricing__left__form">
                <p class="swiper-slide__content__pricing__left__form-title">
                  MEMBERS ONLY
                </p>
                <p class="swiper-slide__content__pricing__left__form-desc">
                  <img src="../../../resources/images/offers/color.png" alt="" />
                  S$ 35
                </p>
              </div>
            </div>
            <div class="swiper-slide__content__pricing__right">
              <a href="#" class="btn btn-gold"> CHECK RATES</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="../../../resources/images/offers/Offer3.png" alt="" />
        <div class="swiper-slide__content">
          <h3>
            Fraser Suites Seef Bahrain – Great Savings For 7 Nights Stay Or
            More
          </h3>
          <p class="title">
            Our serviced apartments provide the convenience of a hotel with
            the added space, privacy and…
          </p>
          <a href="#">View Details</a>
          <div class="swiper-slide__content__pricing">
            <div class="swiper-slide__content__pricing__left">
              <div class="swiper-slide__content__pricing__left__form">
                <p class="swiper-slide__content__pricing__left__form-title">
                  FROM
                </p>
                <p class="swiper-slide__content__pricing__left__form-desc">
                  S$ 68
                </p>
              </div>
              <div class="swiper-slide__content__pricing__left__form">
                <p class="swiper-slide__content__pricing__left__form-title">
                  MEMBERS ONLY
                </p>
                <p class="swiper-slide__content__pricing__left__form-desc">
                  <img src="../../../resources/images/offers/color.png" alt="" />
                  S$ 35
                </p>
              </div>
            </div>
            <div class="swiper-slide__content__pricing__right">
              <a href="#" class="btn btn-gold"> CHECK RATES</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="../../../resources/images/offers/Offer4.png" alt="" />
        <div class="swiper-slide__content">
          <h3>
            Fraser Suites Seef Bahrain – Great Savings For 7 Nights Stay Or
            More
          </h3>
          <p class="title">
            Our serviced apartments provide the convenience of a hotel with
            the added space, privacy and…
          </p>
          <a href="#">View Details</a>
          <div class="swiper-slide__content__pricing">
            <div class="swiper-slide__content__pricing__left">
              <div class="swiper-slide__content__pricing__left__form">
                <p class="swiper-slide__content__pricing__left__form-title">
                  FROM
                </p>
                <p class="swiper-slide__content__pricing__left__form-desc">
                  S$ 68
                </p>
              </div>
              <div class="swiper-slide__content__pricing__left__form">
                <p class="swiper-slide__content__pricing__left__form-title">
                  MEMBERS ONLY
                </p>
                <p class="swiper-slide__content__pricing__left__form-desc">
                  <img src="../../../resources/images/offers/color.png" alt="" />
                  S$ 35
                </p>
              </div>
            </div>
            <div class="swiper-slide__content__pricing__right">
              <a href="#" class="btn btn-gold"> CHECK RATES</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>