.article_highlight_modena {
  margin-top: 130px;
  margin-bottom: 70px;

  &__heading-section {
    display: flex;
    justify-content: space-between;
      .heading {
        font-family: 'Poppins-Regular';
        font-size: 40px;
        color: #222222;
      }

    .more-stories {
      font-family: 'Poppins-SemiBold';
      font-size: 16px;
      color: #00ABC7;
      text-transform: uppercase;
      align-self: center;
    }
  }
  
  .heading-discription {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: #5F5F5F;   
    width: 590px;     
  }

  &__card-container {
    margin-top: 70px;
    display:flex;
    justify-content: space-between;
    
    &__card {
      width: auto;
      max-width: 376px;
      .card-img {
        overflow:hidden;
        img {
          transition: transform .2s;
        }

        .big-img {          
          width: 376px;
          height: 458px;
        }
        
        .small-img {
          width: 328px;
          height: 328px;
        }

        .medium-img {        
          width: 376px;
          height: 397px;
        }

        &:hover {
          img {
            transform: scale(1.5); 
          }
        }
        
      }

      &__highlight {
        margin: 10px 0;
        padding: 0;
        @extend .d-flex;

        &--list {
          margin-left: 15px;
          margin-right: 5px;
          font-size: 12px;
          color: #00ABC7;
          font-family: 'Lato-Regular';
          &:first-child{
            margin-left: 0;
            list-style-type: none; 
          }
        }
        
      }

      &__information {
        width: 328px;
        .info-head {
          font-family: 'Poppins-Regular';
          font-size: 24px;
          color: #222222;     
        }

        .info-described {
          font-family: 'Lato-Regular';
          font-size: 14px;
          color: #5F5F5F; 
        }

        .read-now {
          font-family: 'Poppins-SemiBold';
          font-size: 16px;
          color: #00ABC7;
        }
      }

    }
  }
}