<section class="article_highlight_modena">
  <div class="template-container">
    <div class="article_highlight_modena__heading-section">  
      <p class="heading">Inspire Your Wanderlust</p>
      <a href="#" class="more-stories">Explore More Stories</a>
    </div>
    <p class="heading-discription">More than just your usual travel guide, Fraser Moments is thoughtfully curated with our guests, staff and interesting personalities from all over the world to bring you unique and local travel experiences.</p>

    <div class="article_highlight_modena__card-container">
      <div class="article_highlight_modena__card-container__card">
        <div class="card-img">
          <img class="big-img" src="../../../resources/images/article_highlights/article-modena-1.png" alt="Modena1" loading="lazy">
        </div> 
        <ul class="article_highlight_modena__card-container__card__highlight" >
          <li class="article_highlight_modena__card-container__card__highlight--list">Experiences</li>
          <li class="article_highlight_modena__card-container__card__highlight--list">Guide</li>
          <li class="article_highlight_modena__card-container__card__highlight--list">Culture</li>
        </ul>
        <div class="article_highlight_modena__card-container__card__information">
          <p class="info-head">11 Ways to Gain Mindfulness In Your Daily Life</p>
          <p class="info-described">Move aside, yoga. Everyday mindfulness is the hottest health trend these days.</p>
          <a href="#" class="read-now">Read Now</a>
        </div>
      </div>

      <div class="article_highlight_modena__card-container__card">
        <div class="card-img">
          <img class="small-img" src="../../../resources/images/article_highlights/article-modena-2.png" alt="Modena1" loading="lazy">
        </div>
        <ul class="article_highlight_modena__card-container__card__highlight" >
          <li class="article_highlight_modena__card-container__card__highlight--list">Experiences</li>
          <li class="article_highlight_modena__card-container__card__highlight--list">Guide</li>
          <li class="article_highlight_modena__card-container__card__highlight--list">Culture</li>
        </ul>
        <div class="article_highlight_modena__card-container__card__information">
          <p class="info-head">How to Get the Best Out of Your Sleep</p>
          <p class="info-described">Agood night’s sleep. For some of us, it can be as elusive as that pot of gold at the end of the rainbow.</p>
          <a href="#" class="read-now">Read Now</a>
        </div>
      </div>

      <div class="article_highlight_modena__card-container__card">
        <div class="card-img">
          <img class="medium-img" src="../../../resources/images/article_highlights/article-modena-3.png" alt="Modena1" loading="lazy">
        </div>
        <ul class="article_highlight_modena__card-container__card__highlight" >
          <li class="article_highlight_modena__card-container__card__highlight--list">Experiences</li>
          <li class="article_highlight_modena__card-container__card__highlight--list">Guide</li>
          <li class="article_highlight_modena__card-container__card__highlight--list">Culture</li>
        </ul>
        <div class="article_highlight_modena__card-container__card__information">
          <p class="info-head">Go Lightweight: 10 Simple Hacks to Travel Light</p>
          <p class="info-described">Travelling can be a lot more fun when you travel light. It not only frees up luggage space but also your mind.</p>
          <a href="#" class="read-now">Read Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
