<section class="banner-slider-container"
    data-slider-interval-time="5000">
  <div class="banner-slider-container__header mt-50">
    <div>
      <h2>FRASER <span class="sebastian-boby2">Difference</span></h2>
      <p>The epitome of the countless awards and accolades we have garnered to date is our attention to detail which distinguishes Frasers Hospitality from the rest. Every customer’s touchpoint and encounter are met with service intuition and memorable experiences that has become our trademark.</p>
    </div>
  </div>
  <!-- Swiper -->
  <div class="image-slider-swiper-container image-slider-Swiper">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="card-box">
                  <div class="img-box">
                      <img src="../../../resources/images/banner/proxyclick-visitor-management-system-ZRC0Hj_2kY0-unsplash@2x.png" loading="lazy" />
                  </div>
                  <div class="banner-slider-info">
                      <h3>Award Winning Services</h3>
                      <p>No detail is too small; no hour too late. It is all about making you feel at home and going away with a peace of mind knowing your home will be better than when you left it.</p>
                  </div>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="card-box">
                  <div class="img-box">
                      <img src="../../../resources/images/image-slider/Fraser_difference.png" loading="lazy" />
                  </div>
                  <div class="banner-slider-info">
                      <h3>Award Winning Services</h3>
                      <p>No detail is too small; no hour too late. It is all about making you feel at home and going away with a peace of mind knowing your home will be better than when you left it.</p>
                  </div>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="card-box">
                  <div class="img-box">
                      <img src="../../../resources/images/image-slider/islider3.png" loading="lazy" />
                  </div>
                  <div class="banner-slider-info">
                      <h3>Award Winning Services</h3>
                      <p>No detail is too small; no hour too late. It is all about making you feel at home and going away with a peace of mind knowing your home will be better than when you left it.</p>
                  </div>
              </div>

          </div>
          <div class="swiper-slide">
              <div class="card-box">
                  <div class="img-box">
                      <img src="../../../resources/images/image-slider/islider2.png" loading="lazy" />
                  </div>
                  <div class="banner-slider-info">
                      <h3>Award Winning Services</h3>
                      <p>No detail is too small; no hour too late. It is all about making you feel at home and going away with a peace of mind knowing your home will be better than when you left it.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="swiper-pagination"></div>
  </div>
</section>
