<div class="chain-offer-detail template-container">
  <section class="single-offer cmp-single-offer-details js-chain-offer-details"
    data-chain-offer-list="../../resources/utils/chainofferList.json"
    data-chain-offer-api="https://109859-fraserpoc.adobeioruntime.net/api/v1/web/fraserpoc-0.0.1/offer-hotel-rates?hotelId={0}&currencyCode={1}&memberRateCode={2}&rateCode={3}&offerStartDate={4}&offerEndDate={5}"
    data-offer-calendar-availability="https://109859-fraserpoc.adobeioruntime.net/api/v1/web/fraserpoc-0.0.1/calendar-availability?hotelId={0}&startDate={1}&endDate={2}&currencyCode={3}&bufferDays={4}&rateCode={5}&memberRateCode={6}&memberRate=true">
    <div class="offer__wrapper">
      <div class="offer__details">
        <h2><span>Stay a While -</span> Long Stay Your Way at Fraser</h2>
        <div class="offer__details__social">
          <a href="#">SHARE THIS OFFER</a>
          <ul class="offer__details__icon list-unstyled">
            <li>
              <a href="#">
                <i class="fa fa-weixin"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <div class="offer__details__desc">
            <p>Offer details</p>
            <div class="offer__details__col">
              <span class="offer__details__col__period">Offer Period / Stay Dates:</span>
              <span class="offer__details__col__date">Valid till 20th July 2021</span>
            </div>
            <div class="offer__details__col">
              <span class="offer__details__col__period">Book By:</span>
              <span class="offer__details__col__date">29th June 2021</span>
            </div>
            <div class="offer__details__col">
              <span class="offer__details__col__period">Minimum Stay:</span>
              <span class="offer__details__col__date">14 days</span>
            </div>
            <div class="offer__details__col">
              <span class="offer__details__col__period">Promo Code:</span>
              <span class="offer__details__col__date">XXXX</span>
            </div>
          </div>
          <div class="single-offer__details__para">
            <p>
              Long stay accommodation in Australia from 14 + nights. Don’t
              compromise your standard of living when travelling or
              relocating. Stay A While at any of the Frasers Hospitality
              properties conveniently located Australia-wide.
            </p>
            <p class="single-offer__details__para__moretext">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Facere excepturi suscipit ut cupiditate omnis libero odit reiciendis nulla, 
              esse quod quia. Sunt quo, non vel minus perspiciatis sequi ducimus quaerat.
              Deserunt ex quos necessitatibus error recusandae quae ratione atque, veniam, 
              praesentium, quas sunt. Suscipit earum repellat numquam mollitia aut, 
              dolorum sunt quae! Provident qui quae dolorum veniam quod fuga laboriosam.
            </p>
            <a class="readmoreless" href="javascript:void(0)">Read more</a>
          </div>
        </div>
        
          
        </div>
         <div class="single-offer__img"> <img src="../../../resources/images/offers/SmallImage.png" alt="" /> </div>
    </div>
   
  </div>
  </section>
  <section class="accordion template-container cmp-chain-offer-accordion">
    <div class="accordion__row">
      <div class="accordion-wrapper">
        <div class="accordion-wrapper__head">
          
          <span class="available-property">Offer available at {count} Properties, Pick yours</span>
          <span class="selected-property hidden">SELECTED PROPERTY</span>
        
        </div>
        <div class="accordion-wrapper__body">
         
          <div class="accordion-wrapper__body__dropdown">
            <div class="chain-offer-filter-container">
              <select class="country" name="Country">
                <option value="">Please Select</option>
              </select>
              <select class="city" name="City">
                <option value="">Please Select</option>
              </select>
            </div>
            <div class="table-responsive">
              <table class="offer-table">
                 
              </table>
            </div>
          </div>
        
        </div>
      </div>
      <div class="accordion-wrapper">
        <div class="accordion-wrapper__head">
          INCLUSIONS
        </div>
        <div class="accordion-wrapper__body">
          <div class="accordion-wrapper__head_maxwidth"> 
          <div class="accordion-wrapper__body__inclusions">
            <div class="accordion-wrapper__body__inclusions__left">
            </div>
            <div class="offer-available__inclusions__right">
              <input id="chain_offer_booking_calendar" type="text" class="gold_input" placeholder="Thu, Jun 03 - Sat, Jun 05"
                name="daterangepicker">
              <form id="booking-form" action="https://be-cuat.synxis.com/" method="get" target="_blank" autocomplete="off">
                <input type="hidden" id="level" name="level" value="hotel">
                <input type="hidden" id="hotel" name="hotel" value="">
                <input type="hidden" id="depart" name="depart" value="">
                <input type="hidden" id="arrive" name="arrive" value="">
                <input type="hidden" id="chain" name="chain" value="10322">
                <input type="hidden" id="adult" name="adult" value="1">
                <input type="hidden" id="child" name="child" value="0">
                <input type="hidden" id="childages" name="childages" value="">
                <input type="hidden" id="currency" name="currency" value="SGD">
                <input type="hidden" id="locale" name="locale" value="en-US">
                <input type="hidden" id="rooms" name="rooms" value="1">
                <input type="hidden" id="Promo" name="Promo" value="">
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="accordion-wrapper">
        <div class="accordion-wrapper__head">
          Terms & Conditions
        </div>
        <div class="accordion-wrapper__body">
          <div class="accordion-wrapper__body__terms">
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <script type="text/template" class="template_property_info">
    <tr class="<%- country.replace(/\s/g, '') %> <%- city.replace(/\s/g, '') %>">
      <td class="chain-offer-checkbox">
        <div class="form-group">
          <input type="checkbox" id="<%- hotelID %>" />
          <label for="<%- hotelID %>">&nbsp;</label>
        </div>
      </td>
      <td class="chain-offer-description">
        <p class="country"><%- country %></p>
        <p class="country-des"><%- name %></p>
      </td>
      <td class="chain-offer-price">
        <p class="price-label">FROM</p>
        <p class="price-value"><%- price %></p>
      </td>
    </tr>
  </script>
  </div>